<div class="containerTable">
    <!-- En-tête : titre, actions et barre de recherche -->
    <div class="tasks-header">
      <h1 class="title">Mes Clients</h1>
      <div class="actions">
        <button class="add-task" routerLink="/">Créer un client</button>
  
        <div class="barre"></div>
  
        <!-- Icone avec événement de clic -->
        <div class="contentIcon" (click)="showDropdown = !showDropdown" clickOutside (clickOutside)="showDropdown = false">
          <i [class]="isListView ? 'ri-list-check' : 'ri-apps-fill'"></i>
          <!-- Dropdown -->
          <div class="view-dropdown" *ngIf="showDropdown">
            <div class="dropdown-item" (click)="toggleView('list')">
                Liste {{ isListView ? '✓' : '' }}
            </div>
            <div class="dropdown-item" (click)="toggleView('grid')">
                Cadre {{ !isListView ? '✓' : '' }}
            </div>
          </div>
        </div>
  
        <div class="barre"></div>
        
        <div class="inputSearch">
          <i class="ri-search-2-line"></i>
          <input 
            type="text"
            placeholder="Recherche...." 
          />
        </div>
      </div>
    </div>
    
      <!-- Tableau (visible par défaut) -->
    <table *ngIf="isListView" @viewAnimation>
      
      <thead>
        <th>Photo</th>
        <th (click)="sort('name')">
          Nom & prénom 
          <i [class]="sortField === 'name' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
        </th>
        <th> Email </th>
        <th> Adresse </th>
        <th> Téléphone </th>
      </thead>

      <tbody>
          <tr *ngFor="let client of clients">
              <td>
                <div class="imgClient">
                  <!-- <img [src]="product.photo"> -->
                  <img src="assets/img/profil.png" alt="Photo clients">
                  <!-- <img [src]="(!product.photo || product.photo === 'null' || product.photo.trim() === '') ? 'assets/img/image_product.png' : product.photo"> -->
                </div>
              </td>
              <td>{{ client.name }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.address }}</td>
              <td>{{ client.phone }}</td>
          </tr>
      </tbody>
    </table>
    
    <!-- Vue cadre (quand on active) -->
    <div class="container_cadre" *ngIf="!isListView" @viewAnimation>
      <div class="grid-view">
        <div class="client-card" *ngFor="let client of clients">
          <div class="name_icon">
            <h3>{{ client.name }}</h3>
            <i class="ri-community-line" title="Entreprise"></i>
          </div>
          <div class="content_cadre_double">
            <!-- // Les information sur les cadre  -->
            <div class="info_cadre">
              <p><i class="ri-mail-line"></i>{{ client.email }}</p>
              <p><i class="ri-map-pin-line"></i>{{ client.address }}</p>
              <p><i class="ri-phone-line"></i>{{ client.phone }}</p>
            </div>
            <!-- // Image de client  -->
            <div class="imgClient_grid">
              <!-- <img [src]="product.photo"> -->
              <img src="assets/img/profil.png" alt="Photo clients">
              <!-- <img [src]="(!product.photo || product.photo === 'null' || product.photo.trim() === '') ? 'assets/img/image_product.png' : product.photo"> -->
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Pagination -->
     <div class="pagination">
      <mat-paginator 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[6, 10, 25, 100]"
                    (page)="onPageChange($event)">
      </mat-paginator>
    </div>
    
  </div>
  
  
