
<div class="containerTable">
    <!-- En-tête : titre, actions et barre de recherche -->
    <div class="tasks-header">
        <h1 class="title">Mes Clients</h1>
        <!-- // action  -->
        <div class="actions">
            <button class="add-task" routerLink="/" >Créer un client</button>

            <!-- // Bare  -->
            <div class="barre"></div>

            <div class="contentIcon">
                <i class="ri-sort-asc"></i>
            </div>

            <!-- // Bare  -->
            <div class="barre"></div>
            
            <!-- // searchText  -->
            <div class="inputSearch">
            <i class="ri-search-2-line"></i>
            <input type="text"placeholder="Recherche...." />
            </div>
        </div>
    </div>
    
      <!-- Tableau des produits -->
      <table>
        <thead>
          <tr class="titleTableProduit">
            <th>Nom & prenom </th>
            <th>Email </th>
            <th>Adresse </th>
            <th>Téléphone </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Koureissi SY</td>
              <td>sydiakaridia00&#64;gmail</td>
              <td>Koulouba</td>
              <td> 00223 78711623 </td>
            </tr>
            <tr>
              <td>Amadou Traore</td>
              <td>Amadou&#64;gmail</td>
              <td>Koulouba</td>
              <td> 00223 78711623 </td>
            </tr>
            <tr>
              <td>Mamoutou Daiby</td>
              <td>Mamoutou&#64;gmail</td>
              <td>Koulouba</td>
              <td> 00223 78711623 </td>
            </tr>
        </tbody>
      </table>

    <!-- ?? cadre des clients  -->
    <div class="container_cadre">
        <div class="content_cadre">
            <!-- // cadre client  -->
            <div class="info_cadre">
                
            </div>
        </div>
    </div>
    

  </div>
  