<div class="containerTable">
    <!-- En-tête : titre, actions et barre de recherche -->
    <div class="tasks-header">
      <h1 class="title">
        {{ currentListType === 'clients' ? 'Mes Clients' : 'Mes Entreprises' }}
      </h1>
      <div class="actions">
        <button class="add-task" (click)="openPopup()">Créer un client</button>
  
        <div class="barre"></div>
  
        <!-- Icone avec événement de clic -->
        <div class="contentIcon" (click)="showDropdown = !showDropdown" clickOutside (clickOutside)="showDropdown = false">
          <i [class]="isListView ? 'ri-list-check' : 'ri-apps-fill'"></i>
          <!-- Dropdown -->
          <div class="view-dropdown" *ngIf="showDropdown">
            <div class="dropdown-item" (click)="toggleView('list')">
                Liste {{ isListView ? '✓' : '' }}
            </div>
            <div class="dropdown-item" (click)="toggleView('grid')">
                Cadre {{ !isListView ? '✓' : '' }}
            </div>
          </div>
        </div>
  
        <div class="barre"></div>

        <div class="contentIcon" (click)="showTypeDropdown = !showTypeDropdown" clickOutside (clickOutside)="showTypeDropdown = false">
          <i class="ri-arrow-left-right-line"></i>
          <!-- Dropdown pour choisir le type -->
          <div class="view-dropdown" *ngIf="showTypeDropdown">
            <div class="dropdown-item" (click)="setListType('clients')">
                Clients {{ currentListType === 'clients' ? '✓' : '' }}
            </div>
            <div class="dropdown-item" (click)="setListType('entreprises')">
                Entreprises {{ currentListType === 'entreprises' ? '✓' : '' }}
            </div>
          </div>
        </div>
  
        <div class="barre"></div>
        
        <div class="inputSearch">
          <i class="ri-search-2-line"></i>
          <input 
            type="text"
            placeholder="Recherche...." 
          />
        </div>
      </div>
    </div>
    
      <!-- Tableau (visible par défaut) -->
    <table *ngIf="isListView && currentListType === 'clients'">
      
      <thead>
        <th>Photo</th>
        <th (click)="sort('nomComplet')">
          Nom & prénom 
          <i [class]="sortField === 'nomComplet' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
        </th>
        <th> Email </th>
        <th> Adresse </th>
        <th> Téléphone </th>
        <th> Entreprise </th>
        <th> Date de Creation </th>
      </thead>

      <tbody>
          <tr *ngFor="let client of paginatedClients" (click)="openClientDetail(client.id)">
              <td>
                <div class="imgClient">
                  <!-- <img [src]="product.photo"> -->
                  <img src="assets/img/profil.png" alt="Photo clients">
                  <!-- <img [src]="(!product.photo || product.photo === 'null' || product.photo.trim() === '') ? 'assets/img/image_product.png' : product.photo"> -->
                </div>
              </td>
              <td>
                <span *ngIf="client.nomComplet; else noNomComplet">{{ client.nomComplet }}</span>
                <ng-template #noNomComplet>
                  <span class="no-phone-text">Nom est vide</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="client.email; else noEmail">{{ client.email }}</span>
                <ng-template #noEmail>
                  <span class="no-phone-text">Non email</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="client.adresse; else noAdresse">{{ client.adresse }}</span>
                <ng-template #noAdresse>
                  <span class="no-phone-text">Non adresse</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="client.telephone; else noPhone">{{ client.telephone }}</span>
                <ng-template #noPhone>
                  <span class="no-phone-text">Non numéro de téléphone</span>
                </ng-template>
              </td>
              <td>
                <div *ngIf="client.entrepriseClient; else noEntreprise" class="iconEntrepriseList" (click)="openEntrepriseClientDetail(client.id, $event)">
                  <i class="ri-git-branch-fill" title="Affiliation d'Entreprise"></i>
                </div>
                <ng-template #noEntreprise>
                  <!--  <span class="no-phone-text">Non entreprise</span> -->
                </ng-template>
              </td>
              <td>
                <span *ngIf="client.createdAt; else noDate">{{ client.createdAt | date: 'dd/MM/yyyy' }}</span>
                <ng-template #noDate>
                  <span class="no-phone-text">Non date</span>
                </ng-template>
              
          </tr>
      </tbody>
    </table>
    
    <!-- Vue cadre (quand on active) -->
    <div class="container_cadre" *ngIf="!isListView && currentListType === 'clients'">
      <div class="grid-view">
        <div class="client-card" *ngFor="let client of paginatedClients" (click)="openClientDetail(client.id)">
          <div class="name_icon">
            <div class="tete">
              <span *ngIf="client.entrepriseClient; else noEntrepriseCard" 
                    (click)="openEntrepriseClientDetail(client.id, $event)">
                <i class="ri-community-line" title="Affiliation d'Entreprise"></i>
                <!-- <i class="ri-git-branch-fill"></i> -->
              </span>
              <ng-template #noEntrepriseCard>
               <!--  <span class="no-phone-text">Non entreprise</span> -->
                <div class="imgClient2">
                  <img src="assets/img/profil.png" alt="Photo clients">
                </div>
              </ng-template>

              <!-- <div class="imgClient2">
                <img 
                  [src]="client.entrepriseClient ? 'assets/img/office_building.png' : 'assets/img/profil.png'" 
                  alt="Photo clients"
                >
              </div> -->

              <h3>
                <span *ngIf="client.nomComplet; else noNomComplet">{{ client.nomComplet }}</span>
                <ng-template #noNomComplet>
                  <span class="no-phone-text">Nom est vide</span>
                </ng-template>
              </h3>
            </div>
            <span *ngIf="client.createdAt" class="dateCreat">{{ client.createdAt | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="content_cadre_double">
            <!-- // Les information sur les cadre  -->
            <div class="info_cadre">
              <p>
                <i class="ri-mail-line"></i>
                <span *ngIf="client.email; else noEmail">{{ client.email | truncateEmail }}</span>
                <ng-template #noEmail>
                  <span class="no-phone-text">Non email</span>
                </ng-template>
              </p>
              <p>
                <i class="ri-map-pin-line"></i>
                <span *ngIf="client.adresse; else noAdresse">{{ client.adresse }}</span>
                <ng-template #noAdresse>
                  <span class="no-phone-text">Non adresse</span>
                </ng-template>
              </p>
              <p>
                <i class="ri-phone-line"></i>
                <span *ngIf="client.telephone; else noPhone">{{ client.telephone }}</span>
                <ng-template #noPhone>
                  <span class="no-phone-text">Non numéro de téléphone</span>
                </ng-template>
              </p>
            </div>
            <!-- <div class="imgClient_grid">
              <img src="assets/img/office_building.png" alt="Photo clients">
            </div> -->
            <!-- // Image de client  -->
            <div class="imgClient_grid">
              <!-- <img [src]="product.photo"> -->
              <!-- <img src="assets/img/office_building.png" alt="Photo clients"> -->
              <!-- <img [src]="(!product.photo || product.photo === 'null' || product.photo.trim() === '') ? 'assets/img/image_product.png' : product.photo"> -->

              <img [src]="client.entrepriseClient ? 'assets/img/profil.png' : 'assets/img/profil.png'" alt="Photo clients">
              <!-- <img [src]="client.entrepriseClient ? 'assets/img/office_building.png' : 'assets/img/profil.png'" alt="Photo clients"> -->
            </div>
            <!-- <div class="imgClient2">
                <img [src]="client.entrepriseClient ? 'assets/img/office_building.png' : 'assets/img/profil.png'" 
                  alt="Photo clients">
              </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- ////////////////////////////////////////// ENTREPRISE ////////////////////////////////////////// -->

    <!-- Ajoutez ce code pour l'affichage des entreprises -->
    <!-- Vue tableau pour les entreprises -->
    <table *ngIf="isListView && currentListType === 'entreprises'">
      <thead>
        <th>Logo</th>
        <th (click)="sort('nom')">
          Nom 
          <i [class]="sortField === 'nom' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
        </th>
        <th> Email </th>
        <th> Adresse </th>
        <th> Téléphone </th>
        <th> Pays </th>
        <th> Siège </th>
        <th> Secteur </th>
        <th> Date de Creation </th>
      </thead>

      <tbody>
          <tr *ngFor="let entreprise of paginatedEntreprises" (click)="openEntrepriseDetail(entreprise.id)">
              <td>
                <div class="imgClient">
                  <img src="assets/img/office_building.png" alt="Logo entreprise">
                </div>
              </td>
              <td>
                <span *ngIf="entreprise.nom; else noNom">{{ entreprise.nom }}</span>
                <ng-template #noNom>
                  <span class="no-phone-text">Nom vide</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="entreprise.email; else noEmail">{{ entreprise.email }}</span>
                <ng-template #noEmail>
                  <span class="no-phone-text">Non email</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="entreprise.adresse; else noAdresse">{{ entreprise.adresse }}</span>
                <ng-template #noAdresse>
                  <span class="no-phone-text">Non adresse</span>
                </ng-template>
              </td>
              <td>
                <span *ngIf="entreprise.telephone; else noPhone">{{ entreprise.telephone }}</span>
                <ng-template #noPhone>
                  <span class="no-phone-text">Non téléphone</span>
                </ng-template>
              </td>
              <td>{{ entreprise.pays || '--' }}</td>
              <td>{{ entreprise.siege || '--' }}</td>
              <td>{{ entreprise.secteur || '--' }}</td>
              <td>
                <span *ngIf="entreprise.createdAt; else noDate">{{ entreprise.createdAt | date: 'dd/MM/yyyy' }}</span>
                <ng-template #noDate>
                  <span class="no-phone-text">Non date</span>
                </ng-template>
          </tr>
      </tbody>
    </table>

    <!-- Vue cadre pour les entreprises -->
    <div class="container_cadre" *ngIf="!isListView && currentListType === 'entreprises'">
      <div class="grid-view">
        <div class="client-card" *ngFor="let entreprise of paginatedEntreprises" (click)="openEntrepriseDetail(entreprise.id)">
          <div class="name_icon">
            <div class="tete">
              <h3>
                <span *ngIf="entreprise.nom; else noNom">{{ entreprise.nom }}</span>
                <ng-template #noNom>
                  <span class="no-phone-text">Nom est vide</span>
                </ng-template>
              </h3>
            </div>
            <span *ngIf="entreprise.createdAt" class="dateCreat">{{ entreprise.createdAt | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="content_cadre_double">
            <div class="info_cadre">
              <p>
                <i class="ri-mail-line"></i>
                <span *ngIf="entreprise.email; else noEmail">{{ entreprise.email | truncateEmail }}</span>
                <ng-template #noEmail>
                  <span class="no-phone-text">Non email</span>
                </ng-template>
              </p>
              <p>
                <i class="ri-map-pin-line"></i>
                <span *ngIf="entreprise.adresse; else noAdresse">{{ entreprise.adresse }}</span>
                <ng-template #noAdresse>
                  <span class="no-phone-text">Non adresse</span>
                </ng-template>
              </p>
              <p>
                <i class="ri-phone-line"></i>
                <span *ngIf="entreprise.telephone; else noPhone">{{ entreprise.telephone }}</span>
                <ng-template #noPhone>
                  <span class="no-phone-text">Non téléphone</span>
                </ng-template>
              </p>
              <!-- <p>
                <i class="ri-flag-line"></i>
                {{ entreprise.pays || '--' }}
              </p>
              <p>
                <i class="ri-building-line"></i>
                {{ entreprise.siege || '--' }}
              </p>
              <p>
                <i class="ri-briefcase-line"></i>
                {{ entreprise.secteur || '--' }}
              </p> -->
            </div>
            <div class="imgClient_grid">
              <img src="assets/img/office_building.png" alt="Logo entreprise">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Message quand il n'y a pas d'entreprise -->
    <div *ngIf="entreprises.length === 0 && currentListType === 'entreprises'" class="no-client-message">
      {{ messageNoEntreprise }}
    </div>

    <!-- Pagination pour les entreprises -->
    <div class="pagination" *ngIf="currentListType === 'clients'">
      <mat-paginator
        [length]="clients.length"
        [pageIndex]="currentPageClients"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 10, 25, 100]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>

    <!-- Message quand il n'y a pas de client -->
    <div *ngIf="clients.length === 0 && currentListType === 'clients'" class="no-client-message">
      {{ messageNoClient }}
    </div>

    <!-- Pagination -->
    <div class="pagination" *ngIf="currentListType === 'entreprises'">
      <mat-paginator
        [length]="entreprises.length"
        [pageIndex]="currentPageEntreprises"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 10, 25, 100]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
    
  </div>
   
  
<!-- Popup overlay -->
<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
      <div class="popup-header">
          <h3>Ajouter une entreprise</h3>
          <button class="close-btn" (click)="closePopup()">&times;</button>
      </div>

      <div class="contentCadreChoix">
        <div class="cadreChoix" routerLink="/ajouter-client">
          Client individue
        </div>

        <div class="sizeBox"></div>

        <div class="cadreChoix" routerLink="/ajouter-entreprise-client">
          Entreprise clients
        </div>
      </div>
      
  </div>
</div>