
<div class="container_detail_user">
    <div class="title_div">
        <div class="title">
            <span class="h4">Information personnel</span>
        </div>
    </div>

    <div class="content_detail_user">
        <div class="div1_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Nom et prénom : <span class="h5 valueUser"> {{ user?.nomComplet }} </span>
                </div>
            </div>
        </div>
        <div class="div2_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Email : <span class="h5 valueUser"> {{ user?.email }} </span>
                </div>
            </div>
        </div>
        <div class="div3_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Rôle : <span class="h5 valueUser" style="color: #0672E4;"> {{ user?.role?.name }} </span>
                </div>
            </div>
        </div>
        <div class="div4_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Numéro : <span class="h5 valueUser"> {{ user?.phone }} </span>
                </div>
            </div>
        </div>
        <div class="div5_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Pays : <span class="h5 valueUser"> {{ user?.pays }} </span>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container" >
    <div class="title_div">
        <div class="title">
            <span class="h4">Accès a la permission</span>
            <p class="h6"> {{ user?.nomComplet }} </p>
        </div>
    </div>

    <div class="content">
        <!-- // Type de permission  -->
         <div class="permissionPage">
            <div *ngFor="let permission of permissions" class="div{{permission.id}}">
                <div class="card_permission">
                    <div class="img_name">
                        <div class="img_permission">
                            <img [src]="permission.imgUrl">
                        </div>
                        <div class="name_permission">
                            <span class="h5">{{permission.name}}</span>
                        </div>
                    </div>
                    <label class="container_checkbox">
                        <input 
                            type="checkbox" 
                            [checked]="permission.selected"
                            (change)="togglePermission(permission)">
                        <svg viewBox="0 0 90 90" height="2em" width="2em">
                          <path 
                            d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16" 
                            pathLength="575.0541381835938" 
                            class="path">
                          </path>
                        </svg>
                    </label>
                </div>
            </div>
        </div>

        <div class="container_permission">
            <div class="content_permission">
                <!-- Pour les selects de permission -->
                <div class="containerTable">
                    <div class="title_cadre_permission">
                        <span> {{selectedCount}} </span>
                        <span>Sélectionnée(s)</span>
                    </div>
                    <!-- Permission selectionner -->
                    <div class="permission_select">
                        <!-- Select   -->
                        <div  *ngFor="let permission of selectedPermissions" class="selet_dynamic">
                            <div class="img_permission_select">
                                <img [src]="permission.imgUrl">
                            </div>
                            <div class="name_permission_select">
                                <span class="h5">{{permission.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="btn_confirm">
                        <button class="btn">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
         

    </div>
</div>

