<div class="container_global">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>Connexion en cours...</p>
    </div>
  </div>
  

  <div class="content_formulaire">

    <div class="modal-body">

      <form class="container_formulaire" >

        <!-- Icon return  -->
        <p class="retour_icon_text" (click)="navigateBack()" style="cursor: pointer; color: #0672E4;" title="Retour sur la page produit">
            <i class="ri-arrow-left-s-line"></i> <span style="margin-left: 8px; font-size: 12px;">Utilisateur</span>
        </p>

        <!-- Titre d'ajout de produits  -->
        <!-- <div class="Title">
          <h3>Utilisateur</h3>
        </div> -->

        <div class="form_left_right">

          <!-- Formular ajouter produit  -->
          <div class="formulaire">
            
            <!-- Les information des produit  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <div class="content_return" style="display: flex; align-items: center; justify-content: space-between;">
                  <h4>Information personnel</h4>
                  <!-- <div class="icon_edit" style="cursor: pointer;">
                    <i *ngIf="!isEditing" style="font-size: 16px;"
                        class="ri-edit-box-line" 
                        title="Cliquer ici pour modifier"
                        (click)="toggleEditing()"></i>

                    <i style="color: #ff0000; font-size: 16px;"
                        class="ri-close-line" 
                        title="Fermer l'édition"
                        (click)="toggleEditing()"></i>
                  </div> -->
                </div>

                <div class="champ_grid_triple">
                  <!-- Input de nom produits  -->
                  <div class="champ_input">
                    <input type="text" class="input_focus" value="{{ user?.nomComplet }}" id="nomComplet" name="nomComplet" 
                    placeholder="Saisis le nom" readonly style="cursor: auto;">
                    <label for="nomComplet" class="label labelColor">Nom et prénom</label>
                  </div>

                  <!-- Input de Nom  -->
                  <div class="champ_input">
                    <input type="text" class="input_focus" value="{{ user?.email }}" id="email" name="email" 
                    placeholder="Saisis l'adresse email" readonly style="cursor: auto;">
                    <label for="email" class="label labelColor">Email</label>
                  </div>

                  <!-- Input de Nom  -->
                  <div class="champ_input">
                    <input type="text" class="input_focus" value="{{ user?.role?.name }}" id="role" name="role" readonly style="cursor: auto;">
                    <label for="role" class="label labelColor">Rôle</label>
                  </div>
                </div>

                <div class="champ_grid">
                   <!-- Input de nom produits  -->
                   <div class="champ_input">
                    <input  type="text" class="input_focus" value="{{ user?.pays }}" id="pays" name="pays" 
                    placeholder="Saisis le pays" readonly style="cursor: auto;">
                    <label for="prixVente" class="label labelColor">Pays</label>
                  </div>

                  <!-- Input de prixAchat  -->
                  <div class="champ_input">
                    <input type="text" class="input_focus" value="{{ user?.phone }}" required id="phone" name="phone" 
                    placeholder="Saisis le numéro de téléphone" readonly style="cursor: auto;">
                    <label for="phone" class="label labelColor">Numéro de téléphone</label>
                  </div>
                </div>

                <div class="champ_grid_triple">
                   <!-- Input de nom produits  -->
                   <div class="champ_input">
                    <input  type="text" class="input_focus" value="{{ user?.personalCode }}" id="codePin" name="codePin" readonly style="cursor: no-drop;">
                    <label for="codePin" class="label labelColor">Code PIN</label>
                  </div>

                  <!-- Input de prixAchat  -->
                  <div class="content_suspendre">
                    <div class="name_permission">
                        {{ user?.enabledLien ? 'Suspendre utilisateur' : 'Activer utilisateur' }}
                    </div>

                    <label class="switch">
                        <input type="checkbox" [checked]="!user?.enabledLien" (change)="onSuspendChange($event)"/>
                        <span class="slider round"></span>
                    </label>
                  </div>

                    <div class="content_delet">
                        <div class="delet" *ngIf="user?.id">
                            <span>Supprimer</span>
                            <i class="ri-delete-bin-6-line" (click)="deleteUser(user?.id)"></i>
                        </div>
                    </div>

                </div>

              </div>
            </div>

          </div>

        </div>
        
      </form>

    </div>
</div>
</div>


<!-- <div class="container_detail_user" style="margin-top: 20px;">
    <div class="title_div">
        <div class="title">
            <span class="h4">Information personnel</span>
        </div>
    </div>

    <div class="content_detail_user">
        <div class="div1_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Nom et prénom : <span class="h5 valueUser"> {{ user?.nomComplet }} </span>
                </div>
            </div>
        </div>
        <div class="div2_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Email : <span class="h5 valueUser"> {{ user?.email }} </span>
                </div>
            </div>
        </div>
        <div class="div3_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Rôle : <span class="h5 valueUser" style="color: #0672E4; font-weight: bold; font-style: italic;"> {{ user?.role?.name }} </span>
                </div>
            </div>
        </div>
        <div class="div4_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Numéro : <span class="h5 valueUser"> {{ user?.phone }} </span>
                </div>
            </div>
        </div>
        <div class="div5_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Pays : <span class="h5 valueUser"> {{ user?.pays }} </span>
                </div>
            </div>
        </div>
        <div class="div6_detail_user">
            <div class="card_permission_detail_user_check">
                <input 
                    id="inpLock" 
                    type="checkbox"
                    [checked]="!user?.enabledLien"
                    (change)="onSuspendChange($event)">
                
                <label class="btn-lock" for="inpLock">
                    <div class="name_permission">
                        {{ user?.enabledLien ? 'Suspendre utilisateur' : 'Activer utilisateur' }}
                    </div>
                    
                    <div class="suspendre_check suspendre_check_cadre">
                        <svg width="19" height="30" viewBox="0 0 36 60">
                            <path class="lockb" d="M27 27C27 34.1797 21.1797 40 14 40C6.8203 40 1 34.1797 1 27C1 19.8203 6.8203 14 14 14C21.1797 14 27 19.8203 27 27ZM15.6298 26.5191C16.4544 25.9845 17 25.056 17 24C17 22.3431 15.6569 21 14 21C12.3431 21 11 22.3431 11 24C11 25.056 11.5456 25.9845 12.3702 26.5191L11 32H17L15.6298 26.5191Z"></path>
                            <path class="lock" d="M6 21V10C6 5.58172 9.58172 2 14 2V2C18.4183 2 22 5.58172 22 10V21"></path>
                            <path class="bling" d="M29 20L31 22"></path>
                            <path class="bling" d="M31.5 15H34.5"></path>
                            <path class="bling" d="M29 10L31 8"></path>
                        </svg>
                    </div>
                </label>
            </div>
        </div>
        <div class="div7_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Code PIN : 
                    <span class="h5 valueUser" style="font-weight: bold; font-style: italic; color: red;">
                        {{ user?.personalCode }}
                    </span>
                </div>
                
            </div>
        </div>

 
    </div>


</div> -->

<div class="toast-container">
    <!-- Ajouter la nouvelle alerte -->
    <div *ngIf="validationError" class="alert alert-warning toast-message-warning">
      {{ validationError }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger toast-message-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success toast-message-success">
      {{ successMessage }}
    </div>
</div>

<div class="container_permis">
    <div class="title_div title_div_permission">
        <div class="title">
            <span class="h4">Accès a la permission</span>
            <!-- <p class="h6"> {{ user?.nomComplet }} </p> -->
        </div>
    </div>

    <div class="content">
        <!-- // Type de permission  -->
         <div class="permissionPage">
             <div *ngFor="let permission of permissions" [ngClass]="'div' + permission.id"
                [style.display]="permission.id === 6 && (!isAdmin || !isTargetManager) ? 'none' : ''">
                        <div *ngIf="permission.id !== 6 || (isAdmin && isTargetManager)" class="card_permission">
                    <div class="img_name">
                        <div class="img_permission">
                            <img [src]="permission.imgUrl">
                        </div>
                        <div class="name_permission">
                            <span class="h5" >{{permission.name}}</span>
                        </div>
                    </div>
                    <label class="cyber-checkbox">
                        <input 
                            type="checkbox" 
                            [checked]="permission.selected"
                            (change)="togglePermission(permission)">
                        <span class="cyber-checkbox__mark">
                        <div class="cyber-checkbox__box">
                            <svg class="cyber-checkbox__check" viewBox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </div>
                        <div class="cyber-checkbox__effects">
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                        </div>
                        <div class="cyber-checkbox__particles">
                            <div class="particle-1"></div>
                            <div class="particle-2"></div>
                            <div class="particle-3"></div>
                            <div class="particle-4"></div>
                            <div class="particle-5"></div>
                            <div class="particle-6"></div>
                            <div class="particle-7"></div>
                            <div class="particle-8"></div>
                        </div>
                        </span>
                    </label>
  
  
                </div>
            </div>
        </div>

        <div class="container_permission">
            <div class="content_permission">
                <!-- Pour les selects de permission -->
                <div class="containerTable">
                    <div class="title_cadre_permission">
                        <span> {{selectedCount}} </span>
                        <span>Permission(s)</span>
                    </div>
                    <!-- Permission selectionner -->
                    <div class="permission_select">
                        <!-- Select   -->
                        <div *ngFor="let permission of selectedPermissions" class="selet_dynamic">
                            <div class="img_permission_select">
                                <img [src]="permission.imgUrl">
                            </div>
                            <div class="name_permission_select">
                                <span class="h5">{{permission.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="btn_confirm">
                        <button class="btn" (click)="savePermissions()" [disabled]="isSaveDisabled">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
         

    </div>
</div>

<!-- Popup de confirmation -->
<div class="confirmation-modal" *ngIf="showConfirmationModal">
  <div class="modal-content">
    <h4>{{ confirmationTitle }}</h4>
    <p>{{ confirmationMessage }}</p>
    <div class="modal-actions">
      <button class="btn-cancel" (click)="cancelAction()">Annuler</button>
      <button class="btn-confirm" (click)="handleSuspendAction()">Confirmer</button>
    </div>
  </div>
</div>

<!-- 
<div class="Container_terminer">
    <button class="btn_terminer" routerLink="/utilisateur">
        OK
    </button>
</div> -->
