
<div class="container_detail_user">
    <div class="title_div">
        <div class="title">
            <span class="h4">Information personnel</span>
        </div>
    </div>

    <div class="content_detail_user">
        <div class="div1_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Nom et prénom : <span class="h5 valueUser"> {{ user?.nomComplet }} </span>
                </div>
            </div>
        </div>
        <div class="div2_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Email : <span class="h5 valueUser"> {{ user?.email }} </span>
                </div>
            </div>
        </div>
        <div class="div3_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Rôle : <span class="h5 valueUser" style="color: #0672E4;"> {{ user?.role?.name }} </span>
                </div>
            </div>
        </div>
        <div class="div4_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Numéro : <span class="h5 valueUser"> {{ user?.phone }} </span>
                </div>
            </div>
        </div>
        <div class="div5_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Pays : <span class="h5 valueUser"> {{ user?.pays }} </span>
                </div>
            </div>
        </div>
        <div class="div6_detail_user">
            <div class="card_permission_detail_user_check">
                <input 
                    id="inpLock" 
                    type="checkbox"
                    [checked]="!user?.enabledLien"
                    (change)="onSuspendChange($event)">
                
                <!-- Le label englobe maintenant toute la carte -->
                <label class="btn-lock" for="inpLock">
                    <div class="name_permission">
                        Suspendre utilisateur
                    </div>
                    
                    <div class="suspendre_check suspendre_check_cadre">
                        <svg width="19" height="30" viewBox="0 0 36 60">
                            <path class="lockb" d="M27 27C27 34.1797 21.1797 40 14 40C6.8203 40 1 34.1797 1 27C1 19.8203 6.8203 14 14 14C21.1797 14 27 19.8203 27 27ZM15.6298 26.5191C16.4544 25.9845 17 25.056 17 24C17 22.3431 15.6569 21 14 21C12.3431 21 11 22.3431 11 24C11 25.056 11.5456 25.9845 12.3702 26.5191L11 32H17L15.6298 26.5191Z"></path>
                            <path class="lock" d="M6 21V10C6 5.58172 9.58172 2 14 2V2C18.4183 2 22 5.58172 22 10V21"></path>
                            <path class="bling" d="M29 20L31 22"></path>
                            <path class="bling" d="M31.5 15H34.5"></path>
                            <path class="bling" d="M29 10L31 8"></path>
                        </svg>
                    </div>
                </label>
            </div>
        </div>
        <div class="div7_detail_user">
            <div class="card_permission_detail_user">
                <div class="name_permission">
                    Code PIN : <span class="h5 valueUser">  </span>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="toast-container">
    <!-- Ajouter la nouvelle alerte -->
    <div *ngIf="validationError" class="alert alert-warning toast-message-warning">
      {{ validationError }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger toast-message-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success toast-message-success">
      {{ successMessage }}
    </div>
</div>

<div class="container_permis">
    <div class="title_div title_div_permission">
        <div class="title">
            <span class="h4">Accès a la permission</span>
            <!-- <p class="h6"> {{ user?.nomComplet }} </p> -->
        </div>
    </div>

    <div class="content">
        <!-- // Type de permission  -->
         <div class="permissionPage">
            <div *ngFor="let permission of permissions" class="div{{permission.id}}">
                <div class="card_permission">
                    <div class="img_name">
                        <div class="img_permission">
                            <img [src]="permission.imgUrl">
                        </div>
                        <div class="name_permission">
                            <span class="h5">{{permission.name}}</span>
                        </div>
                    </div>
                    <label class="cyber-checkbox">
                        <input 
                            type="checkbox" 
                            [checked]="permission.selected"
                            (change)="togglePermission(permission)">
                        <span class="cyber-checkbox__mark">
                        <div class="cyber-checkbox__box">
                            <svg class="cyber-checkbox__check" viewBox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </div>
                        <div class="cyber-checkbox__effects">
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                            <div class="cyber-checkbox__spark"></div>
                        </div>
                        <div class="cyber-checkbox__particles">
                            <div class="particle-1"></div>
                            <div class="particle-2"></div>
                            <div class="particle-3"></div>
                            <div class="particle-4"></div>
                            <div class="particle-5"></div>
                            <div class="particle-6"></div>
                            <div class="particle-7"></div>
                            <div class="particle-8"></div>
                        </div>
                        </span>
                    </label>
  
  
                </div>
            </div>
        </div>

        <div class="container_permission">
            <div class="content_permission">
                <!-- Pour les selects de permission -->
                <div class="containerTable">
                    <div class="title_cadre_permission">
                        <span> {{selectedCount}} </span>
                        <span>Permission(s)</span>
                    </div>
                    <!-- Permission selectionner -->
                    <div class="permission_select">
                        <!-- Select   -->
                        <div *ngFor="let permission of selectedPermissions" class="selet_dynamic">
                            <div class="img_permission_select">
                                <img [src]="permission.imgUrl">
                            </div>
                            <div class="name_permission_select">
                                <span class="h5">{{permission.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="btn_confirm">
                        <button class="btn" (click)="savePermissions()">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
         

    </div>
</div>

