<div class="container_global">
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-content">
        <div class="spinner"></div>
        <p>Creation en cours...</p>
      </div>
    </div>
  
    <div class="content_formulaire">
      <div class="modal-body">
        <form [formGroup]="fournisseurEditForm" class="container_formulaire">
  
          <div class="form_left_right">
            <div class="formulaire">
              <!-- Cadre contenant le select et la description -->
              <div class="information_cadre">

                <!-- Titre d'ajout de produits -->
                <div class="Title title_display">
                  <h3>Detail de fournisseur</h3>

                  <div class="icon_edit">
                    <i *ngIf="!isEditing" 
                      class="ri-edit-box-line" 
                      title="Cliquer ici pour modifier"
                      (click)="toggleEditing()"></i>
                    
                    <i *ngIf="isEditing" style="color: #ff0000;"
                      class="ri-close-line" 
                      title="Fermer l'édition"
                      (click)="toggleEditing()"></i>
                  </div>
                </div>

                <div class="info_titre_input">
                  <!-- Nom et prenom -->
                  <div class="grid_colonne_double">
                    <!-- // nom  -->
                    <div class="champ_input">
                        <input type="text" class="input_focus"
                                  id="nomComplet" formControlName="nomComplet"
                                  name="nomComplet"
                                  placeholder="Saisis le nom et prénom">
                        <label for="nomComplet" class="label">Nom et prénom</label>
                        <div *ngIf="fournisseurEditForm.get('nomComplet')?.touched && fournisseurEditForm.get('nomComplet')?.invalid" class="error">
                          <small *ngIf="fournisseurEditForm.get('nomComplet')?.errors?.['required']">Champ requis.</small>
                          <small *ngIf="fournisseurEditForm.get('nomComplet')?.errors?.['minlength']">Au moins 2 caractères.</small>
                        </div>
                    </div>

                    <!-- Entreprise -->
                    <div class="champ_input">
                      <input type="text" class="input_focus"
                                id="nomSociete" formControlName="nomSociete"
                                name="nomSociete"
                                placeholder="Saisis l'entreprise">
                      <label for="nomSociete" class="label">L'entreprise</label>
                    </div>
                  </div>

                  <!-- // Description  -->
                  <div class="champ_input">
                    <textarea type="text" formControlName="description" class="input_focus2" id="description" name="description" placeholder="Saisis le description"></textarea>
                    <label for="description" class="label">Description</label>
                  </div>

                  <div class="grid_colonne">

                    <!-- Pays -->
                    <div class="champ_input">
                      <select class="input_focus" formControlName="pays" (change)="onPaysChange($event)">
                        <option value="" disabled selected>Pays</option>
                        <option value="Mali">Mali</option>
                        <option value="Sénégal">Sénégal</option>
                        <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                      </select>
                      <label for="pays" class="label">Pays</label>
                      <div *ngIf="fournisseurEditForm.get('pays')?.invalid && fournisseurEditForm.get('pays')?.touched" class="error">
                        <small>Ce champ est requis</small>
                      </div>
                    </div>

                    <!-- Téléphone -->
                    <div class="champ_input">
                      <input type="tel" class="input_focus"
                            id="telephone" formControlName="telephone"
                            name="telephone"
                            placeholder="Saisis le numéro de téléphone"
                            (input)="formatPhoneNumber()">
                      <label for="telephone" class="label">Téléphone</label>
                    </div>

                    <!-- Email -->
                    <div class="champ_input">
                        <input type="email" class="input_focus"
                                id="email" formControlName="email"
                                name="email"
                                placeholder="Saisis l'email">
                        <label for="email" class="label">Email</label>
                        <div *ngIf="fournisseurEditForm.get('email')?.touched && fournisseurEditForm.get('email')?.invalid" class="error">
                          <small *ngIf="fournisseurEditForm.get('email')?.errors?.['email']">Format invalide.</small>
                        </div>
                    </div>

                  </div>

                  <div class="grid_colonne_double">
                    <!-- Ville -->
                    <div class="champ_input">
                      <input class="input_focus"
                                id="ville" formControlName="ville"
                                name="ville"
                                placeholder="Saisis la ville">
                      <label for="ville" class="label">Ville</label>
                    </div>
                    <!-- Adresse -->
                    <div class="champ_input">
                        <input class="input_focus"
                                    id="adresse" formControlName="adresse"
                                    name="adresse"
                                    placeholder="Saisis l'adresse">
                        <label for="adresse" class="label">Adresse</label>
                    </div>
                  </div>

                  <!-- Modifiez le sélecteur de pays et le champ téléphone -->
                  <!-- <div class="champ_grid">
                  </div> -->
                                    
                </div>
              </div>
              <!-- Boutons Ajouter et Sauvegarder -->
              <div class="information_cadre information_cadre_save"  *ngIf="isEditing">
                  <!-- Message d'erreur global -->
                <div class="container_error_message">
                    <!-- Messages API -->
                    <div *ngIf="errorMessage" class="error-messageApi2">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="success-messageApi2">{{ successMessage }}</div>
                </div>

                <div class="info_titre_input info_titre_input_btn">
                  <div class="btn_annuler">
                    <button class="btn_cancel" (click)="goToFournisseur()">Annuler</button>
                  </div>
                  <div class="btn_ajouter">
                    <button class="btn_save" (click)="modifierFournisseur()"
                          [disabled]="fournisseurEditForm.invalid"
                          [style.backgroundColor]="fournisseurEditForm.valid ? '#0672E4' : '#0671e434'"
                          [style.color]="fournisseurEditForm.valid ? '#ffffff' : '#00000073'"
                          [style.cursor]="fournisseurEditForm.valid ? 'pointer' : 'no-drop'">
                      Modifier
                  </button>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- Section Profil -->
    <div class="profil_section">
        <div class="section_title">
            <div class="title">
                <h6>Photo de profil du client</h6>
            </div>
        </div>

        <div class="profile-img-wrapper" (click)="triggerFileInput()">
          <img [src]="newPhotoUrl || fournisseurPhotoUrl || 'assets/img/profil.png'"
              alt="Photo de profil" 
              class="profile-img" />
          
          <div class="overlay">
            <img src="assets/img/appareil.jpg" alt="Modifier" class="camera-icon" />
          </div>
        </div>

        <input #fileInput type="file" accept="image/*" hidden 
              (change)="onFileSelected($event)">

        <div class="taille_photo">
          <p style="margin: 0; font-size: 8px; text-align: center;">Formats JPG, GIF ou PNG autorisés. <br> Taille maximale : 800 Ko.</p>
        </div>
    </div>
  </div>
<div>
<!-- {{fournisseur | json}} -->
