<!-- pos-ventes.component.html -->
<div class="pos_container">
  <div class="pos_content">
    <!-- // DEBUT DE HEADER  -->
    <div class="pos_header">
      <nav class="navBar">
        <!-- // COTE LEFT  -->
        <div class="header_left">
          <!-- // btn vente pos  -->
          <div class="btn_vente_pos">
            <button class="btn">
              Ventes POS
            </button>
          </div>
          <!-- // btn commande pos  -->
          <div class="btn_commande_pos">
            <button class="btn">
              Commandes
            </button>
          </div>
          <!-- // btn add commande  -->
          <div class="btn_add_commande">
            <button class="btn">
              <i class="ri-add-line"></i>
            </button>
          </div>
          <!-- // List des commande en onglet  -->
          <ul class="list_commande">
            <li class="list_commande_active">001</li>
            <li>002</li>
            <li>003</li>
            <li>004</li>
            <li class="list_commande_plus"><i class="ri-arrow-down-s-line"></i></li>
          </ul>
        </div>

        <!-- // COTE RIGHT  -->
        <div class="header_right">
          <!-- // Name boutique  -->
          <div class="name_boutique">
            <p>Ma boutique</p>
          </div>
          <!-- // Input de recherche  -->
          <div class="inputSearch">
            <i class="ri-search-2-line"></i>
            <input 
              type="text" placeholder="Recherche des produits"/>
          </div>
          <!-- // Icon de sort -->
          <div class="icon_sort">
            <i class="ri-sort-asc"></i>
          </div>
          <!-- // profil  -->
          <div class="profil">
            <span>S</span>
          </div>
          <!-- // Menu  -->
          <div class="menu">
            <i class="ri-menu-line"></i>
          </div>
        </div>
      </nav>
    </div>
    <!-- // FIN DE HEADER  -->
    <!-- // DEBUT DE CONTENU  -->
    <div class="section_contenu_container">
      <!-- // section contenu left -->
      <div class="section_contenu_left">
        <!-- // section favory produit -->
        <div class="section_favory_produit">
          <!-- // section favory -->
          <div class="section_favory">
            <!-- // ul pour le favory  -->
            <ul class="ul_section_favory">
              <li class="li_section_favory" style="display: flex; align-items: center; justify-content: space-between;">
                <div class="double">
                  <!-- // icon de favory  -->
                  <div class="icon_favory">
                    <i class="ri-heart-fill"></i>
                  </div>
                  <!-- // Title de Favory -->
                  <p class="title_favory">Favorie</p>
                </div>

                <div class="nombre_favory">
                  03
                </div>
              </li>
            </ul>
            <!-- // categorie -->
            <div class="titre_categorie">
              <p>Toutes les catégories</p>
            </div>
            <ul class="ul_name_categorie">
              <li class="ul_li_name_categorie">
                <div class="name_categorie">
                  <span>Alimentation</span>
                </div>
                <div class="nombre">
                  04
                </div>
              </li>
              <li class="ul_li_name_categorie">
                <div class="name_categorie">
                  <span>Électronique</span>
                </div>
                <div class="nombre">
                  10
                </div>
              </li>
              <li class="ul_li_name_categorie">
                <div class="name_categorie">
                  <span>Téléphone</span>
                </div>
                <div class="nombre">
                  38
                </div>
              </li>
              <li class="ul_li_name_categorie">
                <div class="name_categorie">
                  <span>Formation</span>
                </div>
                <div class="nombre">
                  23
                </div>
              </li>
            </ul>
          </div>
          <!-- // section produit -->
          <div class="section_produit">
            <div class="cadre_produit"></div>
          </div>
        </div>
      </div>
      <!-- // section contenu right -->
      <div class="section_contenu_right" style="background-color: #ffffff; height: 100vh; box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;">
        <div class="list_produit_select">
          <ul class="ul_list_produit_select">
            <li class="li_list_produit_select">
              <div class="double">
                <!-- // nombre select  -->
                <div class="nombre_select">
                  10
                </div>
                <!-- // name produit select  -->
                <div class="name_produit_select">
                  <p style="margin: 0;">Ordinateur <span>(20 000 CFA)</span></p>
                </div>
              </div>
              <div class="double">
                <!-- // nombre select  -->
                <div class="price_produit">
                  200 000 CFA
                </div>
                <!-- // name produit select  -->
                <div class="icon_close_select">
                  <i class="ri-close-circle-fill"></i>
                </div>
              </div>
            </li>
            <li class="li_list_produit_select">
              <div class="double">
                <!-- // nombre select  -->
                <div class="nombre_select">
                  10
                </div>
                <!-- // name produit select  -->
                <div class="name_produit_select">
                  <p style="margin: 0;">Ordinateur <span>(20 000 CFA)</span></p>
                </div>
              </div>
              <div class="double">
                <!-- // nombre select  -->
                <div class="price_produit">
                  200 000 CFA
                </div>
                <!-- // name produit select  -->
                <div class="icon_close_select">
                  <i class="ri-close-circle-fill"></i>
                </div>
              </div>
            </li>
            <li class="li_list_produit_select">
              <div class="double">
                <!-- // nombre select  -->
                <div class="nombre_select">
                  10
                </div>
                <!-- // name produit select  -->
                <div class="name_produit_select">
                  <p style="margin: 0;">Ordinateur <span>(20 000 CFA)</span></p>
                </div>
              </div>
              <div class="double">
                <!-- // nombre select  -->
                <div class="price_produit">
                  200 000 CFA
                </div>
                <!-- // name produit select  -->
                <div class="icon_close_select">
                  <i class="ri-close-circle-fill"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- // FIN DE CONTENU  -->

  </div>
</div>