<div class="container">
    <aside class="sidebar">
      <div class="profile">
        <img src="assets/img/profil.png" alt="Chet Faker" class="profile-img">
        <h2>Diakaridia SY</h2>
        <p class="profil_email">&#64;informatiquexpertpro2</p>
        <h5 style="color: #0672E4; letter-spacing: 0.60px;">" ADMID "</h5>
        <div class="stats">
          <!-- <div>12<br>Utilisateurs</div> -->
          <div>05<br>Comptable</div>
          <div>02<br>RH</div>
          <div>50<br>Vendeur</div>
        </div>
      </div>
      
    </aside>
    <main class="main-content">
      <header>
        <h1>Profil</h1>
      </header>
      <div class="container_form_profil">
        <div class="form-row div1">
          <label for="company">Entreprise</label>
          <input type="text" id="company" value="SyTech" readonly>
        </div>
        <div class="form-row div3">
          <label for="email">Email address</label>
          <input type="email" id="email" value="informatiquexpertpro2&#64;gmail.com" readonly>
        </div>
        <div class="form-row div4">
          <label for="firstName">Boutique</label>
          <input type="text" id="firstName" value="XpertCash" readonly>
        </div>
        <div class="form-row div5">
          <label for="lastName">Téléphone</label>
          <input type="text" id="lastName" value="+223 78711623" readonly>
        </div>
        <div class="form-row div7">
          <label for="city">Pays</label>
          <input type="text" id="city" value="MALI" readonly>
        </div>
        <div class="form-row div8">
          <label for="country">Device</label>
          <input type="text" id="Device" value="FCFA" readonly>
        </div>
      </div>
    </main>
</div>

<!-- // PARAMETRE  -->
<div class="container_parametre">
    <div class="content_parametre">
        <!-- // titre pour Paramètre du compte -->
        <div class="title">
            <p>Paramètre du compte</p>
        </div>
        <!-- // cadre action  -->
        <div class="cadre_content">
            <!-- // Modifier le compte  -->
            <div class="cadre cadre_cursor">
                <!-- // title_cadre  -->
                <div class="title_cadre">
                    <span>Modifier le compte</span>
                </div>
                <!-- // icon  -->
                <div class="icon_cadre">
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
            <!-- // Modifier nom de boutique  -->
            <div class="cadre">
                <!-- // title_cadre  -->
                <div class="title_cadre">
                    <span>Nom de la boutique</span>
                </div>
                <!-- // icon  -->
                <div class="icon_cadre">
                    <button class="btn">Modifier</button>
                </div>
            </div>
            
            <div class="groupe_cadre">
              <!-- // Modifier le mot de passe  -->
              <div class="cadre">
                <!-- // title_cadre  -->
                <div class="title_cadre">
                    <span>Mot de passe</span>
                </div>
                <!-- // icon  -->
                <div class="icon_cadre">
                    <button class="btn">Modifier</button>
                </div>
              </div>
              
              <!-- Les information des produit Inventaire  -->
              <div class="information_cadre">
                <form class="info_titre_input">
                  <h5>Modifier mot de passe</h5>
              
                  <!-- // Ancien mot de passe  -->
                  <div class="champ_input">
                    <input autocomplete="off" type="password" class="input_focus " required placeholder="Saisis le mot de passe actuel">
                    <label for="password" class="label labelColor">Mot de passe actuel</label>
                  </div>
              
                  <!-- // Ancien mot de passe  -->
                  <div class="champ_input">
                    <input autocomplete="off" type="password" class="input_focus " required placeholder="Saisis un nouveau mot de passe">
                    <label for="newPassword" class="label labelColor">Nouveau mot de passe</label>
                  </div>
              
                  <!-- // ConfirmPassword mot de passe  -->
                  <div class="champ_input">
                    <input autocomplete="off" type="password" class="input_focus " required placeholder="Confirmer le nouveau mot de passe">
                    <label for="ConfirmPassword" class="label labelColor">Confirmer le  nouveau mot de passe</label>
                  </div>
              
                  <!-- // Ancien mot de passe  -->
                  <div class="btn_save">
                    <button type="submit" class="btn">Confirmer</button>
                  </div>

                </form>    
              </div>

            </div>

            <!-- // Modifier le email  -->
            <div class="cadre">
                <!-- // title_cadre  -->
                <div class="title_cadre">
                    <span>Email</span>
                </div>
                <!-- // icon  -->
                <div class="icon_cadre">
                    <button class="btn">Modifier</button>
                </div>
            </div>

        </div>
    </div>
</div>