<div class="container_global">
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-content">
        <div class="spinner"></div>
        <p>Creation en cours...</p>
      </div>
    </div>
  
      <div class="content_formulaire">
        <div class="modal-body">
          <form [formGroup]="fournisseurForm" class="container_formulaire">
            <!-- Titre d'ajout de produits -->
            <div class="Title">
              <h3>Ajouter un fournisseur</h3>
            </div>
    
            <div class="form_left_right">
              <div class="formulaire">
                <!-- Cadre contenant le select et la description -->
                <div class="information_cadre">
                  <div class="info_titre_input">

                    <div class="grid_colonne_double">

                      <!-- Nom et prenom -->
                      <div class="champ_input">
                        <input type="text" class="input_focus"
                                  id="nomComplet" formControlName="nomComplet"
                                  name="nomComplet"
                                  placeholder="Saisis le nom et prénom">
                        <label for="nomComplet" class="label">Nom et prénom</label>
                        <div *ngIf="fournisseurForm.get('nomComplet')?.touched && fournisseurForm.get('nomComplet')?.invalid" class="error">
                          <small *ngIf="fournisseurForm.get('nomComplet')?.errors?.['required']">Champ requis.</small>
                          <small *ngIf="fournisseurForm.get('nomComplet')?.errors?.['minlength']">Au moins 2 caractères.</small>
                        </div>
                      </div>

                      <!-- Entreprise -->
                      <div class="champ_input">
                        <input type="text" class="input_focus"
                                  id="entreprise" formControlName="entreprise"
                                  name="entreprise"
                                  placeholder="Saisis l'entreprise">
                        <label for="nomComplet" class="label">L'entreprise</label>
                      </div>

                    </div>

                    <!-- // Description  -->
                    <div class="champ_input">
                      <textarea type="text" class="input_focus2" id="description" name="description" placeholder="Saisis le description"></textarea>
                      <label for="description" class="label">Description</label>
                    </div>
                    
                    <div class="grid_colonne">
                      <!-- Pays -->
                      <div class="champ_input">
                        <select class="input_focus" formControlName="pays" (change)="onPaysChange($event)">
                          <option value="" disabled selected>Pays</option>
                          <option value="Mali">Mali</option>
                          <option value="Sénégal">Sénégal</option>
                          <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                        </select>
                        <label for="pays" class="label">Pays</label>
                        <div *ngIf="fournisseurForm.get('pays')?.invalid && fournisseurForm.get('pays')?.touched" class="error">
                          <small>Ce champ est requis</small>
                        </div>
                      </div>
  
                      <!-- Téléphone -->
                      <div class="champ_input">
                        <input type="tel" class="input_focus"
                               id="telephone" formControlName="telephone"
                               name="telephone"
                               placeholder="Saisis le numéro de téléphone"
                               (input)="formatPhoneNumber()">
                        <label for="telephone" class="label">Téléphone</label>
                      
                        <!-- Erreur si pattern invalide -->
                        <div 
                          *ngIf="
                            fournisseurForm.get('telephone')?.touched &&
                            fournisseurForm.get('telephone')?.errors?.['pattern'] &&
                            fournisseurForm.get('pays')?.value as pays
                          " 
                          class="error" >
                          <small>
                            Le numéro doit contenir
                            {{ paysIndicatifs[pays].longueur }}
                            chiffres après l’indicatif
                            {{ paysIndicatifs[pays].indicatif.trim() }}.
                          </small>
                        </div>
                      
                        <!-- Erreur si le champ est vide -->
                        <div *ngIf="
                              fournisseurForm.get('telephone')?.touched &&
                              fournisseurForm.get('telephone')?.errors?.['required']
                            " class="error">
                          <small>Le téléphone est requis.</small>
                        </div>
                      </div>

                      <!-- Email -->
                      <div class="champ_input">
                          <input type="email" class="input_focus"
                                  id="email" formControlName="email"
                                  name="email"
                                  placeholder="Saisis l'email">
                          <label for="email" class="label">Email</label>
                          <div *ngIf="fournisseurForm.get('email')?.touched && fournisseurForm.get('email')?.invalid" class="error">
                          <small *ngIf="fournisseurForm.get('email')?.errors?.['email']">Format invalide.</small>
                          </div>
                      </div>
                    </div>
  
                    <!-- Modifiez le sélecteur de pays et le champ téléphone -->
                    <div class="grid_colonne_double">
                      <!-- Ville -->
                      <div class="champ_input">
                        <input class="input_focus"
                                  id="ville" formControlName="ville"
                                  name="ville"
                                  placeholder="Saisis la ville">
                        <label for="ville" class="label">Ville</label>
                      </div>

                      <!-- Adresse -->
                      <div class="champ_input">
                          <input class="input_focus"
                                      id="adresse" formControlName="adresse"
                                      name="adresse"
                                      placeholder="Saisis l'adresse">
                          <label for="adresse" class="label">Adresse</label>
                      </div>
                    </div>

                    <input type="file" 
                            accept="image/*" 
                            #fileInput 
                            (change)="onFileSelected($event)"
                            style="display: none;"
                            id="uniqueFileInputId">

                      <div class="champ_grid" style="margin: 10px 0 15px; display: flex; align-items: center;">
                        <p style="margin: 0; font-size: 12px; display: flex; align-items: center;">
                            Changer votre logo ici 👉
                            <a href="javascript:void(0)"
                            (click)="fileInput.click()"
                            title="Changer le logo"
                            style="padding-left: 8px; cursor: pointer; display: inline-flex; align-items: center;">
                                <img src="assets/img/appareil.png" alt="Changer logo" style="width: 25px; height: 25px;"/>
                            </a>
                        </p>
                    </div>
                                      
                  </div>
                </div>
                <!-- Boutons Ajouter et Sauvegarder -->
                <div class="information_cadre information_cadre_save">
                   <!-- Message d'erreur global -->
                  <div class="container_error_message">
                      <!-- Messages API -->
                      <div *ngIf="errorMessage" class="error-messageApi2">{{ errorMessage }}</div>
                      <div *ngIf="successMessage" class="success-messageApi2">{{ successMessage }}</div>
                  </div>
  
                  <div class="info_titre_input info_titre_input_btn">
                    <div class="btn_annuler">
                      <button class="btn_cancel" (click)="goToFournisseur()">Annuler</button>
                    </div>
                    <div class="btn_ajouter">
                      <button class="btn_save" (click)="ajouterFournisseur()"
                            [disabled]="fournisseurForm.invalid"
                            [disabled]="fournisseurForm.invalid" 
                            [style.backgroundColor]="fournisseurForm.valid ? '#0672E4' : '#0671e434'"
                            [style.color]="fournisseurForm.valid ? '#ffffff' : '#00000073'"
                            [style.cursor]="fournisseurForm.valid ? 'pointer' : 'no-drop'">
                        Ajouter
                    </button>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>