<!-- fournisseurs.component.html -->
<div class="containerTable">
    <!-- En-tête -->
    <div class="tasks-header">
      <h1 class="title">Mes Fournisseurs</h1>
      <div class="actions">
        <button class="add-task" routerLink="/ajouter-fournisseur">
          Créer un fournisseur
        </button>

        <div class="barre"></div>

        <!-- Sélection de vue -->
        <div class="contentIcon" (click)="showDropdown = !showDropdown" clickOutside (clickOutside)="showDropdown = false">
          <i [class]="isListView ? 'ri-list-check' : 'ri-apps-fill'"></i>
          <div class="view-dropdown" *ngIf="showDropdown">
            <div class="dropdown-item" (click)="toggleView('list')">
                Liste {{ isListView ? '✓' : '' }}
            </div>
            <div class="dropdown-item" (click)="toggleView('grid')">
                Cadre {{ !isListView ? '✓' : '' }}
            </div>
          </div>
        </div>

        <div class="barre"></div>
        
        <div class="inputSearch">
          <i class="ri-search-2-line"></i>
          <input 
            type="text"
            placeholder="Recherche...." 
            [(ngModel)]="searchText"
          />
        </div>
      </div>
    </div>
    
    <!-- Vue Tableau -->
    <table *ngIf="isListView">
      <thead>
        <th>Photo</th>
        <th>Nom</th>
        <th (click)="sort('email')">
          Email 
          <i [class]="sortField === 'email' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
        </th>
        <th (click)="sort('adresse')">Adresse</th>
        <th (click)="sort('telephone')">Téléphone</th>
        <th>Date Création</th>
      </thead>

      <tbody>
          <tr *ngFor="let fournisseur of paginatedFournisseurs" (click)="openDetail(fournisseur.id)">
            <td>
              <div class="imgClient">
                <img [src]="fournisseur.photo" alt="Photo fournisseur">
              </div>
            </td>
            <td>
              <span *ngIf="fournisseur.nomComplet; else noNom" 
                    [innerHTML]="highlightMatch(fournisseur.nomComplet)"></span>
              <ng-template #noNom>Non renseigné</ng-template>
            </td>
            <td>
              <span *ngIf="fournisseur.email; else noEmail" 
                    [innerHTML]="highlightMatch(fournisseur.email)"></span>
              <ng-template #noEmail>Non renseigné</ng-template>
            </td>
            <td>
              <span *ngIf="fournisseur.adresse; else noAdresse" 
                    [innerHTML]="highlightMatch(fournisseur.adresse)"></span>
              <ng-template #noAdresse>Non renseigné</ng-template>
            </td>
            <td>
              <span *ngIf="fournisseur.telephone; else noTel" 
                    [innerHTML]="highlightMatch(fournisseur.telephone)"></span>
              <ng-template #noTel>Non renseigné</ng-template>
            </td>
            <td>{{ fournisseur.createdAt | date: 'dd/MM/yyyy' }}</td>
          </tr>
      </tbody>
    </table>
    
    <!-- Vue Cadre -->
    <div class="container_cadre" *ngIf="!isListView">
      <div class="grid-view">
        <div class="client-card" *ngFor="let fournisseur of paginatedFournisseurs" (click)="openDetail(fournisseur.id)">
          <div class="content_img_info">
            <div class="imgFourni_grid">
              <img [src]="fournisseur.photo" alt="Icon fournisseur">
            </div>
            <div class="info_fourni">
              <div class="info_name">
                <h3 *ngIf="fournisseur.nomComplet; else noNomCard" 
                    [innerHTML]="highlightMatch(fournisseur.nomComplet)"></h3>
                <ng-template #noNomCard>Non renseigné</ng-template>
              </div>
              <div class="info_email">
                <p style="margin: 0; font-size: 12px;">
                  <i class="ri-mail-line"></i>
                  <span *ngIf="fournisseur.email; else noEmailCard" 
                        [innerHTML]="highlightMatch(fournisseur.email | truncateEmail)"></span>
                  <ng-template #noEmailCard>Non renseigné</ng-template>
                </p>
              </div>
            </div>
          </div>

          <div class="info_tel">
            <p style="font-size: 12px; margin-bottom: 0;">
              <i class="ri-phone-line"></i>
              <span *ngIf="fournisseur.telephone; else noTelCard" 
                    [innerHTML]="highlightMatch(fournisseur.telephone)"></span>
              <ng-template #noTelCard>Non renseigné</ng-template>
            </p>
          </div>
          <div class="info_adresse">
            <p style="font-size: 12px; margin: 0;">
              <i class="ri-map-pin-line"></i>
              <span *ngIf="fournisseur.adresse; else noAdresseCard" 
                    [innerHTML]="highlightMatch(fournisseur.adresse)"></span>
              <ng-template #noAdresseCard>Non renseigné</ng-template>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Message vide -->
    <div *ngIf="fournisseursLoaded && filteredFournisseurs.length === 0" class="no-client-message">
      Aucun fournisseur trouvée
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <mat-paginator *ngIf="filteredFournisseurs.length > 6"
        [length]="filteredFournisseurs.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 10, 25, 100]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
</div>