<div class="container_global">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>Connexion en cours...</p>
    </div>
  </div>
  

  <div class="content_formulaire">

    <div class="modal-body">

      <form class="container_formulaire" [formGroup]="ajouteProduitForm" (ngSubmit)="onSubmit()">

        <!-- Titre d'ajout de produits  -->
        <div class="Title">
          <h3>Ajouter des produits</h3>
        </div>

        <div class="form_left_right">

          <!-- Formular ajouter produit  -->
          <div class="formulaire">
            
            <!-- Les information des magasin  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>Magasin</h4>
                <!-- <p>Nom boutique: {{ boutiqueName }}</p> -->
                <!-- Input de nom magasin  -->
                <div class="champ_input">
                  <input type="text" class="input_focus input_focus_petit" [value]="boutiqueName" disabled required id="nomMagasin" name="nomMagasin" placeholder="Saisis le nom de magasin">
                  <label for="nomMagasin" class="label labelColor">Nom magasin</label>
                </div>
                
                
              </div>
            </div>
            
            <!-- Les information des produit  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>Information des produits</h4>

                <div class="double_input">
                  <!-- Input de nom produits  -->
                  <div class="champ_input champ_input2">
                    <input formControlName="nom" type="text" class="input_focus " required id="nom" name="nom" placeholder="Saisis le nom de magasin">
                    <label for="nom" class="label labelColor">Nom produit</label>
                    <div *ngIf="f['nom'].touched && f['nom'].invalid" class="error-message">
                      
                      <span *ngIf="f['nom'].errors?.['required']">Le nom produit est vide.</span>
                      <span *ngIf="f['nom'].errors?.['minlength']">Le nom doit avoir au moins 2 caractères.</span>
                    </div>
                  </div>

                  <!-- Input de nom produits  -->
                  <div class="champ_input champ_input2">
                    <input formControlName="prixVente" type="text" class="input_focus " required id="prixVente" name="prixVente" placeholder="Saisis le nom de magasin">
                    <label for="prixVente" class="label labelColor">Prix de vente</label>
                    <div *ngIf="f['prixVente'].touched && f['prixVente'].invalid" class="error-message">
                      Le prix de vente est vide.
                    </div>
                  </div>
                </div>

                <!-- Input de categorie  -->
                <!-- <div class="champ_input">
                  <input type="text" class="input_focus " required id="category" name="category" placeholder="Saisis le nom de categorie">
                  <label for="category" class="label labelColor">Catégorie (Facultatif)</label>
                </div> -->

                <div class="double_input2">
                  <div class="champ_input">
                    <input type="text" placeholder="Saisis le nom de catégorie"
                           class="input_focus" matInput [formControl]="myControl" 
                           [matAutocomplete]="auto" style="cursor: pointer;">
                    <label for="categorieId" class="label labelCategory">Catégorie</label>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategorySelected($event)" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option.nom }}
                      </mat-option>
                    </mat-autocomplete>
                    
                  </div>
                                   
                  
                  <div class="btn_add_categoryDiv2">
                    <button class="btn_add_category2" (click)="onCreateCategoryClick()">Créer une catégorie</button>
                  </div>
                </div>

                <div class="double_input">
                  <!-- Input de prixAchat  -->
                  <div class="champ_input champ_input2">
                    <input formControlName="prixAchat" type="text" class="input_focus " required id="prixAchat" name="prixAchat" placeholder="Saisis le prix d'achat">
                    <label for="prixAchat" class="label labelColor">Coût du produit</label>
                    <div *ngIf="f['prixAchat'].touched && f['prixAchat'].invalid" class="error-message divError">
                      Le coût du produit est vide.
                    </div>
                  </div>

                  <!-- Input de Quantité  -->
                  <div class="champ_input champ_input2">
                    <input formControlName="quantite" type="text" class="input_focus " required id="quantite" name="quantite" placeholder="Saisis le quantité">
                    <label for="quantite" class="label labelColor">En stock</label>
                    <!-- <div *ngIf="f['quantite'].touched && f['quantite'].invalid" class="error-message">
                      Le quantité de stock est vide.
                    </div> -->
                  </div>
                </div>

                <div class="double_input">
                  <!-- Input de prixAchat  -->
                  <div class="champ_input champ_input2">
                    <input formControlName="seuilAlert" type="text" class="input_focus " required id="alertSeuil" name="alertSeuil" placeholder="Saisis le montant d'alerte">
                    <label for="seuilAlert" class="label labelColor">Seuil d'alerte</label>
                    <div *ngIf="f['seuilAlert'].touched && f['seuilAlert'].invalid" class="error-message">
                      Le alert seuil est vide.
                    </div>
                  </div>

                  <!-- Input de Unité de mesure  -->
                  <!-- <div class="champ_input champ_input2">
                    <input type="text" class="input_focus " required id="unite" name="unite" placeholder="Saisis l'unité de mesure'">
                    <label for="unite" class="label labelColor">Unité de mesure</label>
                  </div> -->

                </div>

                <div class="double_input2">
                  <div class="champ_input">
                    <input type="text" placeholder="Saisis l'unité de mesure" 
                           matInput [formControl]="UniterControl" class="input_focus"
                           [matAutocomplete]="autoUnite" style="cursor: pointer;">
                    <label for="uniteId" class="label labelCategory">Unité de mesure</label>
                    <mat-autocomplete autoActiveFirstOption #autoUnite="matAutocomplete" (optionSelected)="onUniteSelected($event)" [displayWith]="displayFnUnite">
                      <mat-option *ngFor="let optionUnite of filteredNomUnite | async" [value]="optionUnite">
                        {{ optionUnite.nom }}
                      </mat-option>
                    </mat-autocomplete>
                    
                  </div>
                  <div class="btn_add_categoryDiv2">
                    <button class="btn_add_category2" type="button" (click)="onCreateUniteClick()">Créer une unité</button>
                  </div>
                </div>

                
              </div>
            </div>
            
            <!-- Les information des produit identite  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>Identité de produit</h4>

                <!-- Input de produits  -->
                <div class="champ_input">
                  <input formControlName="codeBare" type="text" class="input_focus " id="codeBar" name="codeBar" placeholder="Numéro code barre">
                  <label for="codeBare" class="label labelColor">Numéro code barre (Facultatif)</label>
                  <div *ngIf="f['codeBare'].touched && f['codeBare'].invalid" class="error-message">
                    <span *ngIf="f['codeBare'].errors?.['minlength']">Le nom doit avoir au moins 8 caractères.</span>
                    <span *ngIf="f['codeBare'].errors?.['maxlength']">Le nom ne doit pas dépasser 14 caractères.</span>
                  </div>
                </div>

                <div class="champ_input">
                  <textarea formControlName="description" class="input_focus2" id="description" name="description" placeholder="Saisis Une description pour ce produit"></textarea>
                  <label for="description" class="label labelColor">Description (Facultatif)</label>
                </div>
                
              </div>
            </div>
            
            <!-- Les information des produit Inventaire  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>Inventaire</h4>

                <!-- Input de produits inventaire -->
                <div class="champ_input_inventaire">
                  <p>Ajouter dans les stocks</p>

                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="isChecked" (change)="onToggleChange($event)" [ngModelOptions]="{standalone: true}"/>
                    <span class="slider round"></span>
                  </label>
                  
                </div>
              </div>    
            </div>
            
            <!-- Les information des produit Photo  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>Ajouter un image</h4>


                <p *ngIf="!errorMessage" style="font-size: 12px; float: right;">Taille : 2 Mo max</p>
                <p *ngIf="errorMessage" style="font-size: 12px; float: right; color: red;">{{ errorMessage }}</p>

                <!-- Input de produits photo -->
                <!-- Section pour la gestion de l'image du produit -->
                <div class="container_file"> 
                  <div class="header_file"> 
                    <!-- <img class="roudel" [src]="newPhotoUrl || urllink" alt="Aperçu de l'image" style="max-width:200px;"> -->
                    <img class="roudel" [src]="newPhotoUrl || urllink" alt="Aperçu de l'image" style="max-width:200px;">
                  </div> 
                  <div>
                    <label for="file" class="footer_file"> 
                      <i class="ri-file-3-fill"></i>
                      <p>Choisir un fichier</p>
                    </label> 
                    <input type="file" accept="image/*" id="file" (change)="onFileSelected($event)" hidden>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttom ajouter et annuler  -->
            <div class="information_cadre information_cadre_save">

              <!-- Message d'erreur global -->
              <div class="container_error_message">
                <div *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </div>
              </div>

              <div class="info_titre_input info_titre_input_btn">

                <!-- Input de produits  -->
                <div class="btn_annuler">
                  <button class="btn_cancel">Annuler</button>
                </div>

                <div class="btn_ajouter">
                  <button class="btn_save">Sauvegarder</button>
                </div>
                
              </div>
            </div>

            <!-- Popup de confirmation / d'erreur -->
            <div class="modal-overlay" *ngIf="showPopup">
              <div class="modal-content" [ngClass]="{'error': popupData.type === 'error'}">
                <div class="popup-header">
                  <div class="popup-img">
                      <img [src]="popupData.image" alt="Icone" class="popup-icon2">
                  </div>
                  <h2>{{ popupData.title }}</h2>
                </div>
                <p>{{ popupData.message }}</p>
                <button (click)="closePopup()">OK</button>
              </div>
            </div>

          </div>

        </div>
        
      </form>

    </div>

    <!-- Cadre ou on cree  -->
    <div class="ajout_bool_form">

      <!-- Pour cree un category -->
      <div *ngIf="showCategoryCreation" class="info_titre_input ajouter_cadre_cree_c_u">
        <h4>Créer un catégorie</h4>
        <!-- Input de nom de catégorie -->
        <form [formGroup]="ajouteCategoryForm" (ngSubmit)="submitFormCategory()">
          <div class="champ_input champ_input_Categorie" style="margin-top: 15px;">
            <input formControlName="categoryName" type="text" class="input_focus input_focus_cree_cate" required id="categoryName" name="categoryName" placeholder="Saisis le nom de catégorie">
            <label for="categoryName" class="label labelColor">Nom catégorie</label>
            <!-- Message d'erreur dynamique -->
            <div *ngIf="c['categoryName'].touched && c['categoryName'].invalid" class="error-message">
              <!-- <span *ngIf="c['categoryName'].errors?.['required']">Le nom de la catégorie est obligatoire.</span> -->
              <span *ngIf="c['categoryName'].errors?.['minlength']">Le nom doit avoir au moins 3 caractères.</span>
              <span *ngIf="c['categoryName'].errors?.['maxlength']">Le nom ne doit pas dépasser 20 caractères.</span>
            </div>
          </div>
                          
          <!-- Message d'erreur global -->
           <!-- Affichage du message d'erreur dans le formulaire -->
          <!-- <div *ngIf="errorMessageCategory" class="error-message-category">
            {{ errorMessageCategory }}
          </div> -->

          <div *ngIf="errorMessage" class="error-message-category">
            {{ errorMessageCategory }}
          </div>

          <div class="errorAPI" *ngIf="messageAPI">
            <img [src]="apiMessageType === 'success' ? 'assets/img/succcccc.png' : 'assets/img/error.png'" alt="Message API">
            <span>{{ messageAPI }}</span>
          </div>                         
              
          <div class="btn-c-s">
            <!-- Bouton Annuler -->
            <div class="btn_cancel_category">
              <button class="btn_c_category" (click)="cancelCategoryCreation()">Annuler</button>
            </div>
            <!-- Bouton Ajouter -->
            <div class="btn_save_category">
              <button type="submit" class="btn_s_category">Ajouter</button>
            </div>
          </div>
        </form>

      </div>
      
     <!-- Pour cree un category -->
     <div *ngIf="showUniteCreation" class="info_titre_input ajouter_cadre_cree_c_u">
      <h4>Créer un unité</h4>
      <form [formGroup]="ajouteUniteForm" (ngSubmit)="submitFormUnity()">
        <div class="champ_input" style="margin-top: 15px;">
          <input formControlName="unityName" type="text" class="input_focus input_focus_cree_cate" required id="unityName" name="unityName" placeholder="Saisis le nom de unité">
          <label for="unityName" class="label labelColor">Nom unité</label>
          <!-- Message d'erreur dynamique -->
          <div *ngIf="u['unityName'].touched && u['unityName'].invalid" class="error-message">
            <!-- <span *ngIf="u['unityName'].errors?.['required']">Le nom de la unité est obligatoire.</span> -->
            <span *ngIf="u['unityName'].errors?.['minlength']">Le nom doit avoir au moins 2 caractères.</span>
            <span *ngIf="u['unityName'].errors?.['maxlength']">Le nom ne doit pas dépasser 20 caractères.</span>
          </div>
        </div>

        <div *ngIf="errorMessage" class="error-message-category">
          {{ errorMessageUnity }}
        </div>

        <div class="errorAPI" *ngIf="messageAPI">
          <img [src]="apiMessageType === 'success' ? 'assets/img/succcccc.png' : 'assets/img/error.png'" alt="Message API">
          <span>{{ messageAPI }}</span>
        </div>        


        <div class="btn-c-s">
          <div class="btn_cancel_category">
            <button class="btn_c_category" (click)="cancelUniteCreation()">Annuler</button>
          </div>
          <div class="btn_save_category">
            <button type="submit" class="btn_s_category">Ajouter</button>
          </div>
        </div>
      </form>
    </div>    

    </div>

</div>
</div>

