<!-- facture-proforma-apercu-detail.component.html -->
<div class="container_global" *ngIf="facture as f; else noData">
    <div class="information_cadre" style="position: relative;">
        <div class="cadre_retour">
            <div class="retour_icon" (click)="navigateBack()">
                <i class="ri-arrow-left-long-fill"></i>
            </div>

            <div class="download_icon" (click)="download()">
                <i class="ri-download-2-fill"></i>
            </div>
        </div>
        
        <div class="info_titre_input">
            <div class="content">
                <div class="header_apercu">
                    <div class="logo_entreprise">
                        <img [src]="logo" (error)="logo='http://localhost:8080/defaultLogo/Votre.png'" 
                        alt="Logo de l'entreprise">
                    </div>
                    <div class="entete_entreprise">
                        <div class="content_entete">
                            <p class="para1">{{nom}}</p>
                            <p class="para2">Secteur: {{secteur}}</p>
                            <div class="para3">Email : <a href="mailto:{{email}}">{{email }}</a> Téléphone : {{telephone}}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <hr>
                <div class="titre">
                    <h2>Facture proforma {{ f.numeroFacture }}</h2>
                </div>
                <div class="date">
                    <p>{{siege}}, le {{ f.dateCreation | date:'dd MMMM yyyy' }}</p>
                </div>
                <div class="droit" *ngIf="f.client">
                    <h4>Doit :</h4> 
                    <p>{{ f.client.nomComplet}}</p>
                </div>
                <div class="droit" *ngIf="f.entrepriseClient">
                    <h4>Doit :</h4>
                    <p>{{ f.entrepriseClient.nom }}</p>
                </div>
                <div class="object">
                    <h4>Objet :</h4>
                    <p>{{ f.description }}</p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Désignation</th>
                            <th style="width: 260px!important;">Description</th>
                            <th>Prix Unitaire (FCFA)</th>
                            <th>Quantité</th>
                            <th>Montant (FCFA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ligne of f.lignesFacture">
                            <td class="td_left">{{ ligne.produit.nom }}</td>
                            <td class="td_left">{{ ligne.ligneDescription }}</td>
                            <td>{{ ligne.prixUnitaire | customNumber }}</td>
                            <td>{{ ligne.quantite }}</td>
                            <td>{{ (ligne.prixUnitaire * ligne.quantite) | customNumber }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total HT</td>
                            <td>{{ f.totalHT | customNumber }}</td>
                        </tr>
                        <tr *ngIf="f.remise">
                            <td colspan="4">Remise ({{ f.remise }}%)</td>
                            <td>{{ ((f.totalHT * f.remise/100) | customNumber) }}</td>
                        </tr>
                        <tr *ngIf="f.remise && f.remise > 0">
                            <td colspan="4">Montant commercial</td>
                            <td>{{ (f.totalHT - (f.totalHT * f.remise / 100)) | customNumber }}</td>
                        </tr>
                        <tr *ngIf="f.tva">
                            <td colspan="4">TVA ({{ tauxTva * 100 | number:'1.0-2' }} %)</td>
                            <td>{{ ((f.totalHT - (f.totalHT * (f.remise ?? 0) / 100)) * tauxTva) | customNumber }}</td>
                        </tr>
                        <tr *ngIf="f.tva">
                            <td colspan="4">Montant TTC</td>
                            <td>{{ f.totalFacture | customNumber }}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="contenu_bottom">
                    <p><span style="font-weight: 600;">Arrêté la présente facture à la somme de : </span>{{ f.totalFacture | enLettres }}.</p>
                </div>
                <div class="cachet_container">
                    <div></div>
                    <div class="cachet">
                        <h6>{{signataire}}</h6>
                        <h4 class="name_directeur">{{signataireNom}}</h4>
                        <span>{{signataireNom}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_footer">
            <div class="footer">
                <hr style="margin-top: 40px;">
                <p *ngIf="siteWeb"><strong>{{siteWeb}}</strong></p>
                <div *ngIf="getLegalInfo()">
                    <em>{{ getLegalInfo() }}</em>
                </div>
                <div *ngIf="getAddressInfo()" style="margin-top: -4px;">
                    <em>{{ getAddressInfo() }}</em>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noData>
    <p>Aucune donnée d’aperçu… <a (click)="router.navigate(['/facture-proforma'])">Retour</a></p>
</ng-template>