<app-spinner></app-spinner>
<router-outlet>
</router-outlet>

<app-session-expired-modal *ngIf="showSessionModal" (confirmed)="handleSessionConfirm()"></app-session-expired-modal>

<div class="lock-overlay" *ngIf="isLocked"></div>

<app-unlock-dialog *ngIf="isDialogOpen"></app-unlock-dialog>

<!-- Bandeau commun avec message conditionnel -->
<div *ngIf="showBlockedPopup" class="top-banner" role="alert" aria-live="assertive">
  <div class="banner-content">
    <span class="icon">⚠️</span>
    
    <span *ngIf="isAdmin" class="message">
      Votre période d'accès temporaire a expiré. Veuillez vérifier votre boîte mail et activer votre compte.
    </span>
    
    <span *ngIf="!isAdmin" class="message">
      Votre administrateur n'a pas activé son compte dans les délais. Veuillez patienter ou le contacter.
    </span>
    
    <button class="logout-btn" (click)="onLogout()">Se déconnecter</button>
  </div>
</div>

<div *ngIf="showBlockedPopup" class="click-blocker"></div>