<div class="containerTable">
  <div class="tasks-header">
      <h1 class="title">Produits Stocks</h1>
      
      <div class="actions">
        <button class="add-task" (click)="openPopup()">Ajouter un produit</button>
        <!--Mes icon-->
        <div class="contentIcon">
          <i class="ri-refresh-line"></i>
          <div class="bare"></div>
          <div class="export-container">
            <!-- Icône d'exportation avec un clic -->
            <div class="iconDrop">
              <i class="ri-printer-cloud-line" (click)="toggleExportDropdown()"></i>
            </div>
            <!-- Dropdown avec *ngIf pour l'affichage conditionnel -->
            <div class="export-dropdown" *ngIf="showExportDropdown">
              <div class="export-option" (click)="downloadExcel()">Télécharger en Excel</div>
              <div class="export-option" (click)="downloadPDF()">Télécharger en PDF</div>
              <div class="export-option" (click)="downloadCSV()">Télécharger en CSV</div>
            </div>
          </div>
        </div>
        <!--Les recherche-->
        <div class="inputSearch">
          <i class="ri-search-2-line"></i>
          <input type="text" [(ngModel)]="searchText" placeholder="Recherche...." />
        </div>
      </div>
  </div>
    
  <!-- Tableau des tâches -->
  <table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Photo<i class="icon-sort"></i></th>
      <th>Nom produit <i class="icon-sort"></i></th>
      <th>Categorie<i class="icon-sort"></i></th>
      <th>Description <i class="icon-sort"></i></th>
      <th>Prix <i class="icon-sort"></i></th>
      <th>Prix achat <i class="icon-sort"></i></th>
      <th>Quantité <i class="icon-sort"></i></th>
      <th>Unité<i class="icon-sort"></i></th>
      <th>Alert seuil <i class="icon-sort"></i></th>
      <th>Date & heure <i class="icon-sort"></i></th>
    </tr>
  </thead>
  
  <tbody>
    <!-- Utilisation du *ngFor pour afficher les éléments filtrés -->
    <tr *ngFor="let task of filteredTasks()">
      <td style="font-size: 10px;" [innerHTML]="highlightMatch(task.codeProduit)"></td>
      <td>
        <div class="imgProduit">
          <img src="assets/img/lait.jpeg" alt="photo produit">
        </div>
      </td> 
      <td [innerHTML]="highlightMatch(task.nomProduit)"></td>
      <td [innerHTML]="highlightMatch(task.nomCategory)"></td>
      <td>{{task.description }}</td>
      <td>{{task.prix}}</td> 
      <td>{{task.prixAchat }}</td>
      <td [innerHTML]="highlightMatch(task.quantite)"></td>
      <td>{{task.nomUnite }}</td>
      <td>{{task.alertSeuil }}</td>
      <td>{{task.createdAt }}</td>
    </tr>
  </tbody>
  </table>

  <!-- Message si aucun résultat -->
  <div *ngIf="filteredTasks().length === 0" style="text-align: center; margin-top: 20px;">
      <p style="color: red;">Aucun résultat trouvé pour "{{ searchText }}"</p>
  </div>
    
</div>
<!-- Pop-up Formulaire -->
<div class="modal-overlay" *ngIf="showPopup">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Ajouter un produit</h2>
      <span class="modal-close" (click)="closePopup()">&times;</span>
    </div>
    <div class="modal-body">
      <form class="container_formulaire" id="myForm">

        <!-- Nom  -->
        <div class="formulaire">

          <div class="double_input">

              <div class="champ_input">
                  <input type="text" class="input_focus" required id="nomProduit"
                      placeholder="Saisis le nom de produit">
                  <label for="nom" class="label">Nom produit</label>
              </div>

              <div class="champ_input champ_input_margin">
                  <input type="text" class="input_focus" required id="prix"
                      placeholder="Saisis le montant">
                  <label for="nom" class="label">Prix</label>
              </div>

          </div>

          <div class="champ_input">
            <input type="text"
              placeholder="Saisis le nom de catégorie"
              [formControl]="control"
              [matAutocomplete]="auto"
              class="input_focus">
            <label for="nomCategorie" class="label">Categorie</label>
            <div class="iconArrow">
              <i class="ri-arrow-down-s-line"></i>
            </div>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category.nomCategory">
                {{ category.nomCategory }}
              </mat-option>
            </mat-autocomplete>
          </div>          


          <div class="double_input">

              <div class="champ_input">
                  <input type="text" class="input_focus" required id="nom"
                      placeholder="Saisis le nom de produit">
                  <label for="nom" class="label">Prix achat</label>
              </div>

              <div class="champ_input champ_input_margin">
                  <input type="text" class="input_focus" required id="prenom"
                      placeholder="Saisis le montant">
                  <label for="nom" class="label">Quantité</label>
              </div>

          </div>

          <div class="double_input">

              <div class="champ_input">
                  <input type="text" class="input_focus" required id="nom"
                      placeholder="Saisis le nom de produit">
                  <label for="nom" class="label">Alert seuil</label>
              </div>

              <div class="champ_input champ_input_margin">
                  <input type="text" class="input_focus" required id="prenom"
                      placeholder="Saisis le montant">
                  <label for="nom" class="label">Unité</label>
              </div>

          </div>

            <div class="champ_input" style="margin-top: 20px;">
                <textarea type="email" class="input_focus2" required id="description"
                    placeholder="Saisis quelque choise"></textarea>
                <label for="nom" class="label" style="padding-left: 10px;">Description</label>
            </div>

            <div class="input_file">
              <label for="file" class="custom-file-label">
                <span class="custom-file-button">Choisir un fichier</span>
                <span class="custom-file-text">{{ selectedFile?.name ?? "Aucun fichier choisi" }}</span>
              </label>
              <input type="file" accept="image/*" id="file" (change)="onFileSelected($event)" hidden>
            </div>
            

        </div>

    </form>
    </div>
    <div class="modal-footer">
      <button class="btn-save">Sauvegarder</button>
      <button class="btn-cancel" (click)="closePopup()">Annuler</button>
    </div>
  </div>
</div>
