table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  font-size: 18px;
}

th, td {
  border-bottom: 1px solid #dddddd94;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.containerTable {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions i{
  color: #000;
}

.add-task {
  padding: 10px 30px;
  background-color: #0672E4;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.contentIcon {
  margin: 0 10px;
  display: flex;
  align-items: center;
}


.contentIcon i{
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
}

.contentIcon i:hover {
  color: #0672E4;
  transition: all 0.5s ease;
}

.bare {
  width: 2px;
  height: 30px;
  background-color: #eee;
}

.inputSearch {
  position: relative;
  width: 250px;
  height: 40px;
  //background-color: red;
  display: flex;
  align-items: center;
}

.inputSearch input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 5px;
}

.inputSearch i {
  position: absolute;
  right: 0;
  margin-right: 15px;
  font-size: 17px;
}

// drop domw 

.export-container {
  position: relative;
  display: inline-block;
}

.export-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.389);
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 5px;
}

.export-dropdown .export-option {
  padding: 12px 16px;
  cursor: pointer;
}

.export-dropdown .export-option:hover {
  background-color: #f1f1f1;
}

.iconDrop {
  display: flex;
  align-items: center;
}

.iconMontreArrow {
  margin-left: -30px;
}

.iconMontreArrow i{
  font-size: 12px;
}

/* Style de l'image circulaire */
.imgProduit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.imgProduit img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.2s;
}

.imgProduit:hover img {
  transform: scale(1.1); /* Effet zoom au survol */
}


/* --- Styles pour le modal --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  //padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  justify-content: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

/* Overlay du modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenu du modal */
.modal-content {
  background: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* En-tête du modal */
.modal-header {
  padding: 16px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
}

.modal-close {
  cursor: pointer;
  font-size: 24px;
}

/* Corps du modal */
.modal-body {
  padding: 16px;
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* Style de la scrollbar (pour Chrome, Edge et Safari) */
.modal-body::-webkit-scrollbar {
  width: 4px; /* Largeur de la scrollbar */
}

/* Style du track (arrière-plan de la scrollbar) */
.modal-body::-webkit-scrollbar-track {
  background: #e9d52132; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
}

/* Style du thumb (la partie qui bouge) */
.modal-body::-webkit-scrollbar-thumb {
  background: #0671e43e; /* Couleur du curseur */
  border-radius: 10px;
}

/* Changement de couleur au survol */
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #0465cd56;
}

/* Pied de page du modal */
.modal-footer {
  padding: 16px;
  //background-color: #f1f1f1;
  display: flex;
  margin-top: 10px;
  //justify-content: center;
}

/* formulaire */

.champ_input {
  position: relative;
  margin-bottom: 10px;
}

.formulaire {
  position: relative;
}

.inpuemail {
  margin-top: 20px;
}

.input_focus {
  width: 100%;
  min-width: 250px;
  height: 49px;
  outline: none;
  border-bottom: 1px solid rgb(53, 50, 50);
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px 0px;
  transition: all 0.3s;
  font-size: 18px;
  //padding-left: 10px;
  background: none;
  color: #695c5c;
}

.add_category {
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.champ_input .label {
  position: absolute;
  top: 22px;
  left: 4px;
  pointer-events: none;
}

.input_focus:hover {
  border-bottom: 1px solid #0672E4;
  border-top: none;
  border-left: none;
  border-right: none;
}


.input_focus:not(:placeholder-shown) + .label,
.input_focus:focus + .label {
  color: #0672E4;
  top: -6px;
  left: 0;
  transition: all 0.3s ease-in-out;
  background: none;
  font-size: 14px;
  padding: 0;
}

.input_focus::placeholder {
  opacity: 0;
}

.input_focus:focus::placeholder {
  opacity: 1;
  animation-delay: 1s;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.double_input {
  display: flex; 
  align-items: center;
}

// .double_input2 {
//   display: flex;
//   align-items: center;
// }

.input_focus2 {
  width: 100%;
  min-width: 250px;
  height: 60px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  transition: all 0.3s;
  font-size: 18px;
  // padding-left: 10px;
  background-color: #dcdcdc4c;
  color: #777474;
  resize: none;
  border-radius: 5px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(53, 50, 50);
}

.input_focus2:hover {
  border-bottom: 1px solid #0672E4;
  border-top: none;
  border-left: none;
  border-right: none;
}

.champ_input2 .label {
  position: absolute;
  top: 0px;
  left: 15px;
  pointer-events: none;
  color: rgb(66, 56, 56);
}

.input_focus2:not(:placeholder-shown) + .label,
.input_focus2:focus + .label {
  color: #0672E4;
  top: -10px;
  left: 0;
  transition: all 0.3s ease-in-out;
  background: none;
  font-size: 14px;
  padding: 0;
}

.input_focus2::placeholder {
  opacity: 0;
}

.input_focus2:focus::placeholder {
  opacity: 1;
  animation-delay: 1s;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.champ_input_margin {
  margin-left: 50px;
}

// image 
.input_file {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
}

.custom-file-label {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.custom-file-button {
  background-color: #0672E4;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-file-text {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
}

.btn-save {
  padding: 8px 20px;
  margin-right: 10px;
  background-color: #0672E4;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-cancel {
  padding: 8px 20px;
  margin-right: 10px;
  background-color: #ff0000b3;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-save:hover {
  background-color: #0465cd;
  transition: all .5s;
}

.btn-cancel:hover {
  background-color: #ff0000;
  transition: all .5s;
}

.iconArrow i{
  position: absolute;
  right: 10px;
  top: 20px;
}

.iconArrow {
  font-size: 20px;
}

.pagination {
  justify-content: right;
  margin-top: 20px;
}

mat-paginator {
  background-color: #dcdcdc51;
  border-radius: 5px;
}

.error-message {
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin-top: -6px;
}

.error-message2 {
  font-size: 13px;
  color: red;
  font-weight: bold;
  margin-top: 7px;
}

// .btn_add_category {
//   width: 40%;
//   padding: 10px 0;
//   border-radius: 5px;
//   border: none;
//   background-color: #0672E4;
//   color: #fff;
// }

// .btn_add_category:hover {
//   background-color: #0465cd;
// }

.btn_add_categoryDiv {
  margin: 10px 0;
  justify-content: center;
}

.btn_add_categoryDiv2 {
  margin: 10px 0;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.double_input2 {
  position: relative;
}

.martopBottom {
  height: 90px;
}

.btn_add_category {
  border: none;
  padding-left: 15px;
}

.btn_add_category2 {
  border: none;
  //padding-left: 15px;
  border-radius: 2px;
}

.btn_add_category:hover {
  background-color: #f2efef;
  transition: all .5s;
}
  

.messageCate p {
  color: red;
}

// Pop up

/* Overlay de la popup */
.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/* Contenu de la popup */
.modal-content2 {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: fadeInDown 0.3s ease;
  position: relative;
}

/* Header de la popup avec l'image et le titre */
.popup-header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.popup-img2 {
  width: 80px;
  height: 85px;
  margin-bottom: 10px;
}

.popup-icon2 {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.modal-content2 h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.modal-content2 p {
  font-size: 1em;
  color: #555;
  margin: 20px 0;
}

/* Style du bouton */
.modal-content2 button {
  background-color: #0672E4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
/* Style du bouton */
// .btnOKOK {
//   background-color: #0672E4;
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   font-size: 1em;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background 0.3s ease;
// }

.modal-content2.error button {
  background-color: #e53935;
}

.modal-content2 button:hover {
  background-color: #0863c5;
}

.modal-content2.error button:hover {
  background-color: #d32f2f;
}

/* Animation d'apparition */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.modal-overlay-category {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu de la popup */
.modal-content-category {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: fadeInDown 0.3s ease;
  position: relative;
}

/* Header de la popup avec l'image et le titre */
.modal-header-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.modal-content-category h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

// .error-message-category {
//   font-size: 13px;
//   color: red;
//   font-weight: bold;
//   margin-top: 10px;
// }

.img_input {
  display: flex;
  align-items: center;
}


.roudel_img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 4px;
}

img.roudel{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.2s;
}

.tableProduit {
  cursor: pointer;
}

.titleTableProduit th {
  font-size: 12px;
}

.tableProduit td{
  font-size: 11px;
}

// Detail

.input_focus_taille {
  font-size: 14px;
  cursor: pointer;
  color: #0672E4;
}



.img_input_detail {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.roudel_img_detail {
  //margin-left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 4px;
}

img.roudel_detail{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.2s;
}

.input_focus_detail:not(:placeholder-shown) + .label,
.input_focus_detail:focus + .label {
  color: #000;
}

// title_produit_detail

.title_produit_detail {
  display: flex;
  align-items: center;
}

.iconEdit {
  margin-left: 30px;
}

.iconEdit i {
  font-size: 18px;
  color: #0672E4;
  // cursor: no-drop;
}

.input-non-editing {
  cursor: no-drop;
}

.input-editing {
  cursor: text;
}


/* From Uiverse.io by Yaya12085 */ 
.container_file {
  // height: 150px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  margin-bottom: 10px;
}

.header_file {
  // flex: 1;
  height: 140px;
  width: 140px;
  border: 1px dashed #0671e49d;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header_file img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.header_file svg {
  height: 100px;
}

.header_file p {
  text-align: center;
  color: black;
}

.footer_file {
  background-color: rgba(0, 110, 255, 0.075);
  width: 140px;
  height: 35px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  color: black;
  border: none;
  margin-top: 3px;
}

.footer_file p {
  margin: 0!important;
  font-size: 10px;
}

.footer_file i {
  font-size: 16px;
  margin-right: 7px;
}

// .footer svg {
//   height: 130%;
//   fill: royalblue;
//   background-color: rgba(70, 66, 66, 0.103);
//   border-radius: 50%;
//   padding: 2px;
//   cursor: pointer;
//   box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
// }

// .footer_file p {
//   flex: 1;
//   text-align: center;
// }

#file {
  display: none;
}

.header_file img {
  width: 100%;
  height: 100%;
} 

.btn_save_edit {
  position: absolute;
  right: 10px;
}

.btn_save_edit .save_edit {
  padding: 5px 10px;
  border: none;
  background-color: #0672E4;
  color: #fff;
  border-radius: 5px;
  margin-right: 15px;
}

.btn_save_edit .annule_edit {
  padding: 5px 10px;
  border: none;
  background-color: rgba(255, 0, 0, 0.713);
  color: #fff;
  border-radius: 5px;
}

.btn_save_edit .save_edit:hover {
  background-color: #0465cd;
  transition: all .5s;
}

.btn_save_edit .annule_edit:hover {
  background-color: rgb(255, 0, 0);
  transition: all .5s;
}

.inputSize {
  font-size: 15px;
  color: #0672E4;
}

.labelColor {
  color: #000!important;
}

.updateDate {
  float: right;
}
.description-cell {
  position: relative;
  cursor: pointer;
}

.description-hover {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 200px;
  z-index: 10;
}

.description-cell:hover .description-hover {
  display: block;
}

.name_boutique {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 30px 0 10px;
}

.name_boutique p {
  padding: 5px 15px;
}

.name_boutique_active {
  background-color: #E9D421;
  border-radius: 5px;
  color: #000000;
}
