<div class="container_global">
    <div class="content_formulaire">
      <div class="modal-body">
        <form [formGroup]="entrepriseForm" class="container_formulaire">
          <!-- Titre d'ajout de produits -->
          <div class="Title">
            <h3>Modifier un entreprise</h3>
          </div>
  
          <div class="form_left_right">
            <div class="formulaire">
              <!-- Cadre contenant le select et la description -->
              <div class="information_cadre">
                <div class="info_titre_input">
                  
                  <div class="champ_grid_double">
                    <!-- Nom et prenom -->
                    <div class="champ_input">
                      <input type="text" class="input_focus"
                             id="nom" 
                             formControlName="nom"
                             placeholder="Saisis le nom d'entreprise">
                      <label for="nom" class="label">Nom d'entreprise</label>
                      <div *ngIf="entrepriseForm.get('nom')?.invalid && entrepriseForm.get('nom')?.touched" 
                           class="error">
                        <small *ngIf="entrepriseForm.get('nom')?.errors?.['required']">
                          Ce champ est obligatoire
                        </small>
                        <small *ngIf="entrepriseForm.get('nom')?.errors?.['minlength']">
                          Minimum 2 caractères
                        </small>
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="champ_input">
                      <input type="email" class="input_focus"
                                id="email" formControlName="email"
                                name="email"
                                placeholder="Saisis l'email">
                      <label for="email" class="label">Email</label>
                        <div *ngIf="entrepriseForm.get('email')?.invalid && entrepriseForm.get('email')?.touched" 
                           class="error">
                          <small *ngIf="entrepriseForm.get('email')?.errors?.['email']">
                              Format d'email invalide
                          </small>
                      </div>
                    </div>

                  </div>
                  <div class="champ_grid_double">
                      <!-- Pays -->
                      <div class="champ_input">
                        <input class="input_focus"
                                  autocomplete="off"
                                  id="pays" formControlName="pays"
                                  name="pays"
                                  placeholder="Saisis le pays">
                        <label for="pays" class="label">Pays</label>
                      </div>

                    <!-- Telephone -->
                    <div class="champ_input">
                      <input type="tel" class="input_focus"
                                id="telephone" formControlName="telephone"
                                name="telephone"
                                placeholder="Saisis le numéro de téléphone">
                      <label for="telephone" class="label">Téléphone</label>
                      <div *ngIf="entrepriseForm.get('telephone')?.invalid && entrepriseForm.get('telephone')?.touched" 
                            class="error">
                          <small *ngIf="entrepriseForm.get('telephone')?.errors?.['pattern']">
                            Uniquement des chiffres
                          </small>
                      </div>
                    </div>
                  
                  </div>

                  <div class="champ_grid">
                    <!-- Siege -->
                    <div class="champ_input">
                      <input class="input_focus"
                                autocomplete="off"
                                id="siege" formControlName="siege"
                                name="siege"
                                placeholder="Saisis le siege">
                      <label for="siege" class="label">Siege</label>
                    </div>

                  <!-- Secteur -->
                  <div class="champ_input">
                    <input class="input_focus"
                              autocomplete="off"
                              id="secteur" formControlName="secteur"
                              name="secteur"
                              placeholder="Saisis le secteur">
                    <label for="secteur" class="label">Secteur</label>
                  </div>

                  <div class="champ_input">
                    <input class="input_focus"
                            autocomplete="off"
                            id="adresse" 
                            formControlName="adresse"
                            placeholder="Saisis l'adresse">
                    <label for="adresse" class="label">Adresse</label>
                  </div>
                
                </div>
                  
                </div>
              </div>
  
              <!-- Boutons Ajouter et Sauvegarder -->
              <div class="information_cadre information_cadre_save">

                <!-- Message d'erreur global -->
               <div class="container_error_message">
                    <div *ngIf="errorMessage" class="error-messageApi2">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="success-messageApi2">{{ successMessage }}</div>
                </div>

                <div class="info_titre_input info_titre_input_btn">
                  <div class="btn_annuler">
                    <button class="btn_cancel" (click)="goToClients()">Annuler</button>
                  </div>
                  <div class="btn_ajouter">
                    <button class="btn_save" (click)="onSubmit()"
                          [disabled]="entrepriseForm.invalid"
                          [disabled]="entrepriseForm.invalid" 
                          [style.backgroundColor]="entrepriseForm.valid ? '#0672E4' : '#0671e434'"
                          [style.color]="entrepriseForm.valid ? '#ffffff' : '#00000073'"
                          [style.cursor]="entrepriseForm.valid ? 'pointer' : 'no-drop'">
                      Modifier
                    </button>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
