<!-- pos-accueil.component.html -->
<div class="pos_container">
  <div class="pos_content">
    <!-- // DEBUT DE HEADER  -->
    <div class="pos_header">
      <nav class="navBar">
        <!-- // COTE LEFT  -->
        <div class="header_left">
          <!-- // btn vente pos  -->
          <div class="btn_vente_pos" (click)="onClickVente()">
            <button class="btn btn_default" [class.btn_active]="activeButton === 'vente'">
              Ventes POS
            </button>
          </div>
          <!-- // btn commande pos  -->
          <div class="btn_commande_pos" (click)="onClickCommandes()">
            <button class="btn btn_default" [class.btn_active]="activeButton === 'commande'">
              Commandes
            </button>
          </div>
          <!-- // btn add commande  -->
          <div class="btn_add_commande">
            <button class="btn" (click)="addCommande()">
              <i class="ri-add-line"></i>
            </button>
          </div>
          <!-- // List des commande en onglet  -->
          <ul class="list_commande">
            <li *ngFor="let cmd of visibleCommandes" 
                [class.list_commande_active]="activeCommande === cmd"
                (click)="setActiveCommande(cmd)">
              {{ cmd }}
            </li>
            
            <li *ngIf="commandes.length > 6" 
                class="list_commande_plus" 
                (click)="showCommandePopup = true">
              <i class="ri-arrow-down-s-line"></i>
            </li>
          </ul>

          <!-- Popup au centre de l'écran -->
          <div *ngIf="showCommandePopup" class="commande-popup-overlay">
            <div class="commande-popup-content" 
                [ngStyle]="{ 'transform': 'translate3d(' + popupOffsetPopup.x + 'px, ' + popupOffsetPopup.y + 'px, 0)' }" (click)="$event.stopPropagation()">
              <!-- Déplacer l'événement startDragPopup uniquement sur le header -->
              <div class="popup-header" (mousedown)="startDragPopup($event)">
                <h3>Liste des commandes</h3>
                <i class="ri-close-line" (click)="closePopup($event)"></i>
              </div>
              <div class="popup-commandes">
                <ul class="list_commande commandes-grid">
                  <li *ngFor="let cmd of commandes" 
                      [class.active]="activeCommande === cmd"
                      (click)="setActiveCommande(cmd)">
                    {{ cmd }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- // COTE RIGHT  -->
        <div class="header_right">
          <!-- // Name boutique  -->
          <div class="name_boutique">
            <p>{{ selectedBoutiqueName }}</p>
          </div>
          <!-- // Input de recherche  -->
          <div class="inputSearch">
            <i class="ri-search-2-line"></i>
            <input 
              type="text" placeholder="Recherche des produits"/>
          </div>
          <!-- // Icon de sort -->
          <!-- <div class="icon_sort">
            <i class="ri-sort-asc"></i>
          </div> -->
          <div class="icon_sort" (click)="showDropdown = !showDropdown" clickOutside (clickOutside)="showDropdown = false">
            <i [class]="(isListView$ | async) ? 'ri-apps-fill' : 'ri-list-check'"></i>
            
            <div class="view-dropdown" *ngIf="showDropdown">
              <div class="dropdown-item" (click)="toggleView('grid')">
                Cadre {{ (isListView$ | async) ? '✓' : '' }}
              </div>
              <div class="dropdown-item" (click)="toggleView('list')">
                Liste {{ !(isListView$ | async) ? '✓' : '' }}
              </div>
            </div>
          </div>
          <!-- // profil  -->
          <div class="profil">
            <span>{{ userName }}</span>
          </div>
          <!-- // Menu  -->
          <div class="menu" 
              (click)="toggleMenuDropdown()" 
              clickOutside 
              (clickOutside)="showMenuDropdown = false">
            <i class="ri-menu-line"></i>
            
            <!-- Dropdown Menu -->
            <div class="menu-dropdown" *ngIf="showMenuDropdown">
              <div class="dropdown-item">
                <i class="ri-download-line"></i>
                Installer l'application
              </div>
              <div class="dropdown-item">
                <i class="ri-restart-line"></i>
                Recharger les donnees
              </div>
              <div class="dropdown-item" (click)="onLogout()">
                <i class="ri-money-euro-circle-line"></i>
                Fermer la caisse
              </div> 
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- // FIN DE HEADER  -->
    <!-- // DEBUT DE CONTENU  -->
    <router-outlet></router-outlet>

    <!-- // FIN DE CONTENU  -->
    

  </div>
</div>

