

<div class="account-settings">

    <div *ngIf="isLoading" class="loading-overlay">
        <div class="loading-content">
        <div class="spinner"></div>
        <p>Modification en cours...</p>
        </div>
    </div>
    <!-- Section Paramètres du compte -->
    <div class="information_cadre">
        <div class="section">
            <h6 class="section_title">Paramètres du compte</h6>
        </div>
    </div>
    <!-- Section list navbar  -->
    <div class="information_cadre">
        <div class="section_navbar">
            <mat-tab-group [selectedIndex]="0" class="custom-tabs">
                <!-- // Compte  -->
                         <mat-tab label="Compte">
                    <div class="tab-content">
                        <div class="container_compte_profil">
                            <div class="champ_grid_double">
                                <!-- // Cadre photo left -->
                                <div class="setting_profil cadre_photo">
                                    <div class="content_setting_profil">
                                        <!-- // titre de profil  -->
                                        <div class="tilte_profil">
                                            <h5>Changer de profil</h5>
                                            <p>Changez votre photo de profil à partir d'ici</p>
                                        </div>

                                        <!-- // Img de profil  -->
                                        <div class="profile-img-wrapper" (click)="visualiserPhoto($event)">
                                            <img 
                                                [src]="photo || 'assets/img/profil.png'"
                                                (error)="photo = 'assets/img/profil.png'"
                                                alt="Photo de profil"
                                                class="profile-img" />
                                            
                                            <!-- <div class="overlay">
                                                <img
                                                    src="assets/img/appareil.jpg"
                                                    alt="Modifier"
                                                    class="camera-icon"
                                                     />
                                            </div> -->
                                        </div>
                                            <div class="btn_changer_profil">
                                                <button class="btn camera-icon" (click)="changerPhoto($event)">
                                                    Changer la photo
                                                </button>
                                            </div>

                                        <input
                                            type="file"
                                            id="profilePhotoInput"
                                            accept="image/*"
                                            (change)="onProfilePhotoSelected($event)"
                                            hidden />

                                        <!-- Lightbox de visualisation -->
                                        <div class="photo-modal" *ngIf="isModalOpen" (click)="fermerModal()">
                                            <div class="photo-modal-content" (click)="$event.stopPropagation()">
                                                <img [src]="photo || 'assets/img/profil.png'">
                                                <button class="fermer-btn" (click)="fermerModal()">✕</button>
                                            </div>
                                        </div>

                                        <!-- Garde le texte informatif -->
                                        <div class="info_capacity_profil">
                                            <p>Formats JPG, GIF ou PNG autorisés. Taille <br> maximale : 800 Ko.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Cadre password right -->
                                <div class="setting_profil cadre_password">
                                    <!-- // titre de profil  -->
                                    <div class="tilte_profil">
                                        <h5>Changer le mot de passe</h5>
                                        <p>Pour changer votre mot de passe, veuillez <br> confirmer ici</p>
                                    </div>

                                    <!-- // Input pour changer mot de passe  -->
                                    <form [formGroup]="passwordForm" class="info_titre_input">
                                        <!-- <h5>Modifier mot de passe</h5> -->

                                        <!-- Ancien mot de passe -->
                                        <div class="champ_input">
                                            <input formControlName="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'"class="input_focus" placeholder="Saisis le mot de passe actuel">
                                            <label class="label labelColor">Mot de passe actuel</label>
                                            <div *ngIf="currentPassword?.touched && currentPassword?.invalid">
                                                <small class="text-danger" *ngIf="currentPassword?.errors?.['required']">
                                                    Ce champ est obligatoire
                                                </small>
                                            </div>

                                            <!-- // icon eye_container -->
                                            <div class="eye_container" (click)="toggleCurrentPasswordVisibility()">
                                                <div class="eye_ferme" *ngIf="!showCurrentPassword">
                                                    <i class="ri-eye-close-line"></i>
                                                </div>
                                                <div class="eye_ouvre" *ngIf="showCurrentPassword">
                                                    <i class="ri-eye-line"></i>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Nouveau mot de passe -->
                                        <div class="champ_input">
                                            <input formControlName="newPassword"[type]="showNewPassword ? 'text' : 'password'"class="input_focus"  placeholder="Saisis le nouveau mot de passe">
                                            <label class="label labelColor">Nouveau mot de passe</label>
                                            <div *ngIf="newPassword?.touched && newPassword?.invalid">
                                                <small class="text-danger" *ngIf="newPassword?.errors?.['required']">
                                                    Ce champ est obligatoire
                                                </small>
                                                <small class="text-danger" *ngIf="newPassword?.errors?.['minlength']">
                                                    Minimum 8 caractères
                                                </small>
                                            </div>

                                            <!-- // icon eye_container -->
                                            <div class="eye_container" (click)="toggleNewPasswordVisibility()">
                                                <div class="eye_ferme" *ngIf="!showNewPassword">
                                                    <i class="ri-eye-close-line"></i>
                                                </div>
                                                <div class="eye_ouvre" *ngIf="showNewPassword">
                                                    <i class="ri-eye-line"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Confirmation mot de passe -->
                                        <div class="champ_input">
                                            <input formControlName="confirmPassword"[type]="showNewPassword ? 'text' : 'password'"class="input_focus" placeholder="Confirmer le nouveau mot de passe">
                                            <label class="label labelColor">Confirmer le nouveau mot de passe</label>
                                            <div *ngIf="confirmPassword?.touched && passwordForm.invalid">
                                                <small class="text-danger" *ngIf="passwordForm.errors?.['mismatch']">
                                                    Les mots de passe ne correspondent pas
                                                </small>
                                            </div>
                                        </div>

                                        <!-- Bouton de soumission -->
                                        <div class="btn_save">
                                            <button (click)="updatePassword()"
                                            type="submit" 
                                            class="btn"
                                            [disabled]="passwordForm.invalid || isLoading">
                                            <span *ngIf="!isLoading">Confirmer</span>
                                            <span *ngIf="isLoading">Chargement...</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- // Reste de l'information de user pour la modification  -->
                            <div class="info_personnel">
                                <!-- // titre de profil  -->
                                <div class="tilte_profil">
                                    <h5>Détails personnels</h5>
                                    <p>Pour modifier vos informations personnelles, modifiez-les et enregistrez-les ici</p>
                                </div>

                                <!-- // Formulaire des information de user  -->
                                <form [formGroup]="nomCompletForm" (ngSubmit)="onSubmitUpdateUser()" class="info_titre_input">
                                    <!-- <h5>Modification Profil</h5> -->
                                
                                    <!-- Photo de profil -->
                                    <!-- <div class="champ_input">
                                    <input 
                                        type="file" 
                                        accept="image/*"
                                        (change)="onFileSelected($event)"
                                        class="input_focus"
                                    >
                                    <label class="label labelColor">Photo de profil</label>
                                    </div> -->

                                    <!-- Nom -->
                                    <div class="champ_input">
                                    <input 
                                        formControlName="nomComplet" 
                                        class="input_focus" 
                                        placeholder="Saisissez votre nom complet"
                                    >
                                    <label class="label labelColor">Nom & prénom</label>
                                    <!-- <div *ngIf="nomCompletControl?.touched && nomCompletControl?.invalid">
                                        <small class="text-danger" *ngIf="nomCompletControl?.errors?.['required']">
                                        Ce champ est obligatoire
                                        </small>
                                    </div> -->
                                    </div>
                                
                                    <!-- Phone User -->
                                    <div class="champ_input">
                                    <input 
                                        type="tel"
                                        formControlName="phone" 
                                        class="input_focus" 
                                        placeholder="Saisissez votre numéro de téléphone"
                                    >
                                    <label class="label labelColor">Votre numéro</label>
                                    <div *ngIf="phoneControl?.touched && phoneControl?.invalid">
                                        <small class="text-danger" *ngIf="phoneControl?.errors?.['required']">
                                        Ce champ est obligatoire
                                        </small>
                                    </div>
                                    </div>
                                
                                    <!-- Mot de passe -->
                                    <div class="champ_input">
                                        <input 
                                            [type]="showPasswordInPersonalForm ? 'text' : 'password'" 
                                            formControlName="password" 
                                            class="input_focus" 
                                            placeholder="Saisissez votre mot de passe"
                                        >
                                        <label class="label labelColor">Votre mot de passe</label>
                                        
                                        <div class="eye_container" (click)="togglePasswordVisibilityInPersonalForm()">
                                            <div class="eye_ferme" *ngIf="!showPasswordInPersonalForm">
                                            <i class="ri-eye-close-line"></i>
                                            </div>
                                            <div class="eye_ouvre" *ngIf="showPasswordInPersonalForm">
                                            <i class="ri-eye-line"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn_double">
                                        <!-- Bouton de soumission -->
                                        <div class="btn_save">
                                            <button 
                                                type="submit" 
                                                class="btn"
                                                [disabled]="nomCompletForm.invalid">
                                                <span *ngIf="!isLoading">Confirmer</span>
                                                <span *ngIf="isLoading">Traitement...</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                
                <!-- // Notifications  -->
                <mat-tab label="Notifications">
                    <div class="tab-content">
                    Contenu des notifications
                    </div>
                </mat-tab>
                <!-- // Factures  -->
                 <mat-tab label="Factures">
                    <div class="tab-content">
                        <div class="content_setting_facture">
                            <!-- // Facture de vue edit  -->
                            <div class="contenu_left_facture">
                                <div class="facture_model">
                                    <!-- // cadre de facture de model  -->
                                    <div class="content">
                                        <!-- // header apercu  -->
                                        <div class="header_apercu">
                                            <!-- // logo entreprise -->
                                            <div class="logo_entreprise">
                                                <img [src]="logo" (error)="logo='http://31.207.34.194:8080/defaultLogo/Votre.png'" 
                                                alt="Logo de l'entreprise">
                                            </div>
                                            <!-- entete entreprise  -->
                                            <div class="entete_entreprise">
                                                <div class="content_entete">
                                                    <p class="para1">{{ form.get('nom')?.value }}</p>
                                                    <p class="para2">Secterur: {{ form.get('secteur')?.value }}</p>
                                                    <div class="para3">Email : <a href="mail"> {{ form.get('email')?.value  }}</a> Téléphone : {{ form.get('telephone')?.value }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // Ligne  -->
                                        <hr>
                                        <hr>
                                        <!-- // titre  -->
                                        <div class="titre">
                                            <!-- <h2>Facture proforma n˚{{ facture.numeroFacture || '000-00-2025' }}</h2> -->
                                            <h2>Facture proforma: <span style="color: #0000003e;">{{ form.get('prefixe')?.value  }}xxx-xx-xxxx -{{ form.get('suffixe')?.value  }}</span></h2>
                                        </div>
                                        <!-- // date  -->
                                        <div class="date">
                                            <!-- <p>Bamako, le 12 Mai 2025</p> -->
                                            <p>{{ form.get('siege')?.value  }}, le dd/MM.yyyy</p>
                                        </div>

                                        <!-- nom et object  -->
                                        <div class="droit">
                                            <h4>Doit : </h4> 
                                            <p>Nom de client </p>
                                        </div>

                                        <!-- nom et object  -->
                                        <div class="object">
                                            <h4>Objet :</h4>
                                            <p>Une petite description de l'objet</p>
                                        </div>

                                        <!-- // Table  -->
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Désignation</th>
                                                    <th style="width: 70px!important;">Description</th>
                                                    <th>PU</th>
                                                    <th>Quantité</th>
                                                    <!-- <th>Durée</th> -->
                                                    <th>Montant (FCFA)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td_left">Produit nom</td>
                                                    <td class="td_left">Desc...</td>
                                                    <td>00</td>
                                                    <td>00</td>
                                                    <!-- <td>15 000</td> -->
                                                    <td> 0000</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                <td colspan="4">Total HT</td>
                                                <td>0000</td>
                                                </tr>
                                                <tr>
                                                <td colspan="4">Remise 0 %</td>
                                                <td>
                                                    <!-- {{ ((facture.totalHT * facture.remise/100) | customNumber) }} -->
                                                    0000
                                                </td>
                                                </tr>
                                                <!-- Montant Commercial  -->
                                                <tr>
                                                    <td colspan="4">Montant commercial</td>
                                                    <td>
                                                    <!-- {{
                                                        (facture.totalHT - (facture.totalHT * facture.remise / 100)) | customNumber
                                                    }} -->
                                                        0000
                                                    </td>
                                                </tr>
                                                <!-- TVA à 18% sur le montant commercial -->
                                                <tr>
                                                    <td colspan="4">{{ tauxTvaAffiche }} %</td>
                                                    <td>
                                                    <!-- {{
                                                        ((facture.totalHT - (facture.totalHT * (facture.remise ?? 0) / 100)) * 0.18) | customNumber
                                                    }} -->
                                                        0000
                                                    </td>
                                                </tr>
                                                <tr>
                                                <td colspan="4">Montant TTC</td>
                                                <td>
                                                    <!-- {{ facture.totalFacture | customNumber }} -->
                                                    0000
                                                </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <!-- // contenu_bottom  -->
                                        <div class="contenu_bottom">
                                            <p><span style="font-weight: 600;">Arrêté la présente facture à la somme de : </span>
                                            Zero .....</p>
                                        </div>

                                        <!-- // sachet  -->
                                        <div class="cachet_container">
                                            <div></div>
                                            <div class="cachet">
                                                <h6>{{ form.get('signataire')?.value }}</h6>
                                                <h6 class="name_directeur">{{ form.get('signataireNom')?.value }}</h6>
                                                  <span class="cachetSign" >
                                                        {{form.get('signataireNom')?.value }}
                                                  </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- // Footer  -->
                                    <div class="container_footer">
                                        <div class="footer">
                                            <hr>
                                            <p *ngIf="form.get('siteWeb')?.value"><strong>{{form.get('siteWeb')?.value }}</strong></p>
                                            
                                            <div *ngIf="getLegalInfo()">
                                            <em>{{ getLegalInfo() }}</em>
                                            </div>
                                            
                                            <div *ngIf="getAddressInfo()">
                                            <em>{{ getAddressInfo() }}</em>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="voir_apercu" title="Voir l'aperçu de la facture" (click)="openPreview()">
                                    Agrandir <i class="ri-eye-2-line"></i>
                                </div>

                                <!-- // autre Paramètres de la facture  -->
                                <!-- <div class="cadre_setting">
                                    <div class="titre_autre">
                                        <p>L'apparance de la facture</p>
                                    </div>
                                </div> -->
                            </div>

                            <!-- // Champs de la modification de facture dans setting  -->
                            <div class="champs_setting_facture">
                                <div class="content_edit_facture" [formGroup]="form">
                                    <!-- // Informations de coordonées  -->
                                    <div class="titre_champ">
                                        <h6>Haut de page</h6>
                                    </div>

                                    <input type="file" 
                                        accept="image/*" 
                                        #fileInput 
                                        (change)="onFileSelected($event)"
                                        style="display: none;"
                                        id="uniqueFileInputId">

                                 <div class="champ_grid" style="margin: 10px 0 15px; display: flex; align-items: center;">
                                    <p style="margin: 0; font-size: 12px; display: flex; align-items: center;">
                                        Changer votre logo ici 👉
                                        <a href="javascript:void(0)"
                                        (click)="fileInput.click()"
                                        title="Changer le logo"
                                        style="padding-left: 8px; cursor: pointer; display: inline-flex; align-items: center;">
                                            <img src="assets/img/appareil.png" alt="Changer logo" style="width: 25px; height: 25px;"/>
                                        </a>
                                    </p>
                                </div>
                                
                                    <div class="champ_grid">
                                        <!-- // Input de Nom entreprise  -->
                                        <div class="champ_input ">
                                            <input class="input_focus" type="text" formControlName="nom" readonly placeholder="Saisis le nom entreprise" style="cursor: no-drop;">
                                            <label class="label">Nom entreprise</label>
                                        </div>

                                        <!-- Input de secteur  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="secteur" placeholder="Saisis le secteur">
                                            <label class="label">Secteur</label>
                                        </div>

                                        <!-- Input de secteur  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="email" formControlName="email" placeholder="Saisis l'email">
                                            <label class="label">Email</label>
                                        </div>
                                    </div>
                                
                                    <div class="champ_grid">

                                        <!-- Input de Téléphone  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="telephone" formControlName="telephone" placeholder="00 00 00 00">
                                            <label class="label">Téléphone</label>
                                        </div>

                                        <!-- // Input de siege   -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="siege" placeholder="ex: Bamako">
                                            <label class="label">Ville</label>
                                        </div>

                                        <!-- Input de Pays  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="pays" placeholder="Votre pays">
                                             <!-- <select class="input_focus">
                                                <option value="">Pays</option>
                                                <option value="">Mali</option>
                                                <option value="">Côte d'ivoire</option>
                                                <option value="">Sénégal</option>
                                             </select> -->
                                            <label class="label">Pays</label>
                                        </div>
                                    </div>

                                     <!-- Input Prefixe et Suffiche -->
                                    <div class="champ_grid">
                                        <div class="champ_input" *ngIf="shouldShowPrefixe()">
                                            <input class="input_focus" type="text" formControlName="prefixe" placeholder="Saisis le prefixe de votre facture">
                                            <label class="label">Préfixe de votre facture</label>
                                        </div>

                                        <div class="champ_input" *ngIf="shouldShowSuffixe()">
                                            <input class="input_focus" type="text" formControlName="suffixe" placeholder="Saisis le suffixe de votre facture">
                                            <label class="label">Suffixe de votre facture</label>
                                        </div>

                                        <!-- // Tva  -->
                                       <div class="champ_input">
                                            <input 
                                                class="input_focus" 
                                                type="number" 
                                                [value]="tauxTvaAffiche" 
                                                (input)="onTauxTvaInput($event)">
                                            <label class="label">TVA (en %)</label>
                                        </div>

                                    </div>

                                    <!-- // Informations légales & bancaires  -->
                                    <div class="titre_champ" style="margin-top: 30px;">
                                        <h6>Bas de page</h6>
                                    </div>
                                
                                    <div class="champ_grid">
                                        <!-- // Input de Nom entreprise  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="siteWeb" placeholder="Saisis le site web">
                                            <label class="label">Site web</label>
                                        </div>

                                        <!-- Input de secteur  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="banque" placeholder="Saisis le banque">
                                            <label class="label">Banque</label>
                                        </div>

                                        <!-- // Input de NINA  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="nina" placeholder="Saisis le nina">
                                            <label class="label">NINA</label>
                                        </div>
                                    </div>
                                
                                    <div class="champ_grid">
                                        <!-- Input de RCCM  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="rccm" placeholder="Saisis l'rccm">
                                            <label class="label">RCCM</label>
                                        </div>

                                        <!-- Input de NIF  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="nif" placeholder="Saisis le nif">
                                            <label class="label">NIF</label>
                                        </div>

                                        <!-- // Input de Nom Adresse  -->
                                        <div class="champ_input ">
                                            <input class="input_focus" type="text" formControlName="adresse" placeholder="Saisis l'adresse">
                                            <label class="label">Adresse</label>
                                        </div>
                                    </div>

                                    <!-- // Signture  -->
                                    <div class="titre_champ" style="margin-top: 30px;">
                                        <h6>Signature</h6>
                                    </div>
                                
                                    <div class="champ_grid">
                                        <!-- Input de Nom signataire  -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="signataireNom" placeholder="Saisis le nom du signataire">
                                            <label class="label">Nom signataire</label>
                                        </div>

                                        <!-- // Input de Signature   -->
                                        <div class="champ_input">
                                            <input class="input_focus" type="text" formControlName="signataire" placeholder="Saisis le post de signataire">
                                            <label class="label">Poste</label>
                                        </div>

                                        

                                    </div>


                                    <!-- // Btn confirm   -->
                                    <!-- Remplacez la ligne du bouton existant -->
                                    <div class="champ_input">
                                        <button class="btn" (click)="onSubmit()">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- // L'apparance de la facture  -->
                        <!-- <div class="autre_setting_facture">
                            <div class="titre_autre">
                                <h6>L'apparance de la facture</h6>
                            </div>

                            <div class="container_model_facteur">
                                <div class="content_model_facteur">
                                    <div class="model1">
                                        
                                    </div>
                                    <div class="model1">
                                        
                                    </div>
                                    <div class="model1">
                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </mat-tab>
                <!-- // Securite  -->
                <mat-tab label="Sécurité">
                    <div class="tab-content">
                    Contenu de la sécurité
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>


<!-- Ajoutez ce popup à la fin de votre template -->
<div *ngIf="showPreview" class="preview-overlay" (click)="closePreview()">
  <div class="preview-content" (click)="$event.stopPropagation()">
    <!-- <div class="preview-header">
      <h3>Aperçu de la facture</h3>
      <button mat-icon-button (click)="closePreview()">
        <mat-icon>close</mat-icon>
      </button>
    </div> -->
    <div class="facture_model_preview">
      
         <div class="preview-close" (click)="closePreview()">
            <i class="ri-close-large-fill"></i>
         </div>
        <!-- // cadre de facture de model  -->
        <div class="content">
            <!-- // header apercu  -->
            <div class="header_apercu">
                <!-- // logo entreprise -->
                <div class="logo_entreprise_preview">
                    <img [src]="logo"  (error)="logo='http://31.207.34.194:8080/assets/img/logo.jpeg'"
                    alt="Logo de l'entreprise">
                </div>
                <!-- entete entreprise  -->
                <div class="entete_entreprise">
                    <div class="content_entete content_entete_preview">
                        <p class="para1 para_preview">{{ form.get('nom')?.value }}</p>
                        <p class="para2 para_preview">Secterur: {{ form.get('secteur')?.value }}</p>
                        <div class="para3 para_preview">Email : <a href="mail"> {{ form.get('email')?.value }}</a> Téléphone : {{ form.get('telephone')?.value }}</div>
                    </div>
                </div>
            </div>
            <!-- // Ligne  -->
            <hr>
            <hr>
            <!-- // titre  -->
            <div class="titre">
                <!-- <h2>Facture proforma n˚{{ facture.numeroFacture || '000-00-2025' }}</h2> -->
                <h2 style="font-size: 12px;">Facture proforma: <span style="color: #0000003e;">{{ form.get('prefixe')?.value  }}-xxx-xx-xxxx {{ form.get('suffixe')?.value  }}</span></h2>
            </div>
            <!-- // date  -->
            <div class="date">
                <!-- <p>Bamako, le 12 Mai 2025</p> -->
                <p style="font-size: 10px;">{{ form.get('siege')?.value }}, le ...</p>
            </div>

            <!-- nom et object  -->
            <div class="droit droit_preview">
                <h4>Doit : </h4> 
                <p>Nom de client </p>
            </div>

            <!-- nom et object  -->
            <div class="object droit_preview">
                <h4>Objet :</h4>
                <p>Une petite description de l'objet</p>
            </div>

            <!-- // Table  -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="th">Désignation</th>
                        <th class="th" style="width: 70px!important;">Description</th>
                        <th class="th">PU</th>
                        <th class="th">Quantité</th>
                        <!-- <th>Durée</th> -->
                        <th class="th">Montant (FCFA)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_left td">Produit nom</td>
                        <td class="td_left td">Desc...</td>
                        <td class="td">00</td>
                        <td class="td">00</td>
                        <!-- <td>15 000</td> -->
                        <td class="td"> 0000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <td class="td" colspan="4">Total HT</td>
                    <td class="td">0000</td>
                    </tr>
                    <tr>
                    <td class="td" colspan="4">Remise 0 %</td>
                    <td class="td">
                        <!-- {{ ((facture.totalHT * facture.remise/100) | customNumber) }} -->
                        0000
                    </td>
                    </tr>
                    <!-- Montant Commercial  -->
                    <tr>
                        <td class="td" colspan="4">Montant commercial</td>
                        <td class="td">
                        <!-- {{
                            (facture.totalHT - (facture.totalHT * facture.remise / 100)) | customNumber
                        }} -->
                            0000
                        </td>
                    </tr>
                    <!-- TVA à 18% sur le montant commercial -->
                    <tr>
                        <!-- <td class="td" colspan="4">TVA (18%)</td> -->
                        <!-- Dans la partie Factures, aperçu de la facture -->
                        <td class="td" colspan="4">{{ form.get('tauxTva')?.value * 100 | number:'1.0-0' }}%</td>
                        <td class="td">
                        <!-- {{
                            ((facture.totalHT - (facture.totalHT * (facture.remise ?? 0) / 100)) * 0.18) | customNumber
                        }} -->
                            0000
                        </td>
                    </tr>
                    <tr>
                    <td class="td" colspan="4">Montant TTC</td>
                    <td class="td">
                        <!-- {{ facture.totalFacture | customNumber }} -->
                        0000
                    </td>
                    </tr>
                </tfoot>
            </table>

            <!-- // contenu_bottom  -->
            <div class="contenu_bottom">
                <p style="font-size: 8px;"><span style="font-weight: 600;">Arrêté la présente facture à la somme de : </span>
                Zero .....</p>
            </div>

            <!-- // sachet  -->
            <div class="cachet_container">
                <div></div>
                <div class="cachet_preview">
                    <h6>{{ form.get('signataire')?.value }}</h6>
                    <h6 class="name_directeur_preview">{{ form.get('signataireNom')?.value }}</h6>
                     <span class="cachetSignP" >
                            {{form.get('signataireNom')?.value }}
                     </span>
                      
                </div>
            </div>
        </div>

        <!-- // Footer  -->
        <div class="container_footer">
            <div class="footer">
                <!-- // Ligne  -->
                <div class="container_footer">
                    <div class="footer" style="line-height: 12px;">
                        <hr>
                        <p *ngIf="form.get('siteWeb')?.value">
                        <strong style="font-size: 10px;">{{form.get('siteWeb')?.value }}</strong>
                        </p>
                        
                        <div *ngIf="getLegalInfo()">
                        <em class="em_footer">{{ getLegalInfo() }}</em>
                        </div>
                        
                        <div *ngIf="getAddressInfo()">
                        <em class="em_footer">{{ getAddressInfo() }}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>