<div class="containerTable">
  <!-- En-tête : titre, actions et barre de recherche -->
  <div class="tasks-header">
      <h1 class="title">Facture pro forma</h1>
      <!-- <div>{{boutiques | json}}</div> -->
  
      <div class="actions">
        <button class="add-task"  (click)="goToAddProduit()">Ajouter une facture </button>

        <div class="contentIcon">
          <div class="bare"></div>
        </div>

        <!-- Sélection de vue -->
        <div class="contentIcon" (click)="showDropdown = !showDropdown" clickOutside (clickOutside)="showDropdown = false">
          <i [class]="isListView ? 'ri-list-check' : 'ri-apps-fill'"></i>
          <div class="view-dropdown" *ngIf="showDropdown">
              <div class="dropdown-item" (click)="toggleView('list')">
                  Liste {{ isListView ? '✓' : '' }}
              </div>
              <div class="dropdown-item" (click)="toggleView('grid')">
                  Cadre {{ !isListView ? '✓' : '' }}
              </div>
          </div>
        </div>

        <div class="contentIcon">
          <div class="bare"></div>
        </div>

        <div class="inputSearch">
          <input [(ngModel)]="searchTerm" type="text" placeholder="Recherche..."  />
          <i [ngClass]="searchTerm ? 'ri-close-line red-icon' : 'ri-  search-2-line'" (click)="clearSearch()"></i>
        </div>
      </div>
  </div>

  <!-- Ajouter après la barre de recherche -->
  <div class="container_list_boutique">
    <div class="content_list_boutique">
      <div class="name_boutique">
        <!-- Option "Tous les états" -->
        <div class="all_boutique" 
            [class.name_boutique_active]="selectedStatut === null"
            (click)="selectStatut(null)">
          <p class="all_boutique">Toutes les états</p>
        </div>
        
        <!-- Options d'état -->
        <ng-container *ngFor="let statut of statuts; let i = index">
          <div class="statut-option" 
              [class.name_boutique_active]="selectedStatut === statut.value"
              (click)="selectStatut(statut.value)">
            <p>
              {{ statut.label }}
            </p>
          </div>
          <div *ngIf="i !== statuts.length - 1" class="barre"></div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Vue Tableau -->
  <table *ngIf="isListView">
      <thead>
          <tr class="tr">
              <th class="th" (click)="sort('numeroFacture')">
                  N° Facture
                  <i [class]="sortField === 'numeroFacture' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
              </th>
              <th class="th">Droit</th>
              <th class="th" (click)="sort('dateCreation')">
                  Date
                  <i [class]="sortField === 'dateCreation' ? (sortDirection === 'asc' ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line') : 'ri-arrow-up-down-line'"></i>
              </th>
              <th class="th">Produits</th>
              <th class="th">Statut</th>
              <th class="th">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr class="tr" *ngFor="let facture of paginatedFactures" (click)="showDetails(facture.id)">
              <td class="td">{{ facture.numeroFacture }}</td>
              <td class="td">{{ facture.client || facture.entrepriseClient }}</td>
              <td class="td">{{ facture.dateCreation | date: 'dd/MM/yyyy' }}</td>
              <td class="td">
                  <div *ngFor="let ligne of facture.ligneFactureProforma?.slice(0,2)">
                      {{ ligne.nomProduit }} (x{{ ligne.quantite }})
                  </div>
                  <div *ngIf="facture.ligneFactureProforma?.length > 2">...</div>
              </td>
              <td class="td">
                <span [ngClass]="getStatutClass(facture.statut)">
                  {{ facture.statut }}
                </span>
              </td>
              <td class="td">
                  <!-- {{ getTotalFacture(facture) | customNumber }} -->
                {{ facture.totalFacture| customNumber  }} CFA
              </td>
          </tr>
      </tbody>
  </table>

  <div class="parent" *ngIf="!isListView">
    <div class="cadre_cahier" *ngFor="let facture of paginatedFactures" (click)="showDetails(facture.id)">
      <div class="title_facture">
        <h5>Facture Pro forma</h5>
      </div>

      <!-- // Les informations  -->
      <div class="information_cadre">
        <!-- // numero facture  -->
        <div class="num_facture">
          <span>N {{ facture.numeroFacture }} </span>
        </div>
        <!-- // Name client  -->
        <div class="double_info">
          <span class="left_name">
            Client(s) :
          </span>
          <span class="right_name">
            {{ facture.client || facture.entrepriseClient }}
          </span>
        </div>
        <!-- // Date de creation  -->
        <div class="double_info">
          <span class="left_name">
            Date :
          </span>
          <span class="right_name date_name" style="font-size: 11px;">
            {{ facture.dateCreation }}
          </span>
        </div>
      </div>

      <!-- // Table  -->
      <table>
        <thead>
          <tr>
            <th> Produit </th>
            <th> Quantité </th>
            <th> Montant Total </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="facture.ligneFactureProforma?.length; else noLines">
            <tr *ngFor="let ligne of facture.ligneFactureProforma.slice(0, 1)">
              <td> {{ ligne.nomProduit }} </td>
              <td> {{ ligne.quantite }} </td>
              <td class="tb_total"> {{ ligne.montantTotal | customNumber }} </td>
            </tr>
            <!-- Affiche les || s'il y a plus de 3 articles -->
            <tr *ngIf="facture.ligneFactureProforma.length > 1" class="facture_trois">
              <td>||</td>
              <td>||</td>
              <td class="tb_total">||</td>
            </tr>
          </ng-container>
        
          <ng-template #noLines>
            <tr>
              <td colspan="3" class="text-center">Aucun produit dans cette facture</td>
            </tr>
          </ng-template>
        </tbody>
        <tfoot>
          
        </tfoot>
      </table>

      <!-- // image etiquette  -->
      <div class="image_etiquette">
        <img [src]="getImageSrc(facture.statut)" alt="Etiquette">
        <div class="etat" [ngClass]="getStatutClass(facture.statut)">
          <p class="tilte_etat"> - Etat - </p>
          <span> {{ facture.statut }} </span>
        </div>
      </div>
      
     <div class="double_info1">
          <span class="left_name">
            MONTANT TOTAL TTC :
          </span>
          <span class="right_name"> 
            {{ facture.totalFacture| customNumber  }} CFA
          </span>
        </div>

    </div>

  </div>

  <!-- Message vide -->
  <div *ngIf="filteredFactures.length === 0" class="no-client-message">
    Aucun facture pro forma trouvé
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <mat-paginator [length]="filteredFactures.length" [pageSize]="pageSize" [pageSizeOptions]="[6, 10, 25, 100]"
        (page)="onPageChange($event)">
    </mat-paginator>
  </div>
          
</div>
