<div class="container_global">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>Connexion en cours...</p>
    </div>
  </div>

  <div class="content_formulaire">
    <div class="modal-body">
        <form class="container_formulaire">
            <!-- // Titre -->
            <div class="Title">
                <h3>Ajouter une facture proforma</h3>
            </div>

            <!-- Les informations de facture  -->
            <div class="information_cadre">
                <div class="info_titre_input">
                    <h4>Client(e)</h4>

                     <!-- Client / Entreprise -->
                    <div class="champ_input champ_input2">
                      <div class="title_input">
                        <label>
                          <input type="radio" name="typeDestinataire" value="client" [(ngModel)]="typeDestinataire" [ngModelOptions]="{ standalone: true }" />
                          Client
                        </label>
                        <label style="margin-left: 20px;">
                          <input type="radio" name="typeDestinataire" value="entreprise" [(ngModel)]="typeDestinataire" [ngModelOptions]="{ standalone: true }" />
                          Entreprise
                        </label>
                      </div>
        
                      <!-- Select Client -->
                      <select *ngIf="typeDestinataire === 'client'" class="input_focus" [(ngModel)]="selectedClientId" name="client_id" required>
                        <option [ngValue]="null">Sélectionner un client</option>
                        <option *ngFor="let client of clients" [ngValue]="client.id">
                          {{ client.nomComplet }} <span *ngIf="client.entrepriseClient"> - {{ client.entrepriseClient.nom }}</span>
                        </option>
                      </select>
        
                      <!-- Select Entreprise -->
                      <select *ngIf="typeDestinataire === 'entreprise'" class="input_focus" [(ngModel)]="selectedEntrepriseId" name="entreprise_id" required [ngModelOptions]="{ standalone: true }" >
                        <option [ngValue]="null">Sélectionner une entreprise</option>
                        <option *ngFor="let entreprise of entreprises" [value]="entreprise.id">
                          {{ entreprise.nom }}
                        </option>
                      </select>
                    </div>

                    <!-- Object -->
                    <div class="champ_input">
                      <input type="text" class="input_focus2" id="description" name="description" [(ngModel)]="description" [ngModelOptions]="{ standalone: true }" placeholder="Saisis l'object" />
                      <label for="description" class="label">Object</label>
                    </div>
                </div>
            </div>

             <!-- Lignes produit de facture dynamiques -->
            <div class="information_cadre">
                <div class="info_titre_input">
                    <div class="add_new_quantite_stock">
                        <h4>Produits</h4>
                    </div>

                    <div class="containerTable">
                        <table>
                            <thead>
                                <tr class="titleTableProduit">
                                  <th class="title_table_name">Désignation</th>
                                  <th class="">Description</th>
                                  <th class="">Quantité</th>
                                  <th class="">Prix Unitaire</th>
                                  <th class="">Montant (FCFA)</th>
                              </tr>
                            </thead>
                            <!-- Afficher produit dans la list  -->
                            <tbody>
                                <tr class="tr_stock" style="border-top: 1px solid #f0f2f5;" *ngFor="let ligne of confirmedLignes; let i = index">
                                  <!-- // Produit  -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                        <input class="input_focus_type" type="text" [value]="getProduitNom(ligne.produitId)" readonly>
                                    </div>
                                  </td>
                                  <!-- // Description -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                      <input type="text" class="input_focus_type" style="resize: none;" placeholder="Description">
                                    </div>                         
                                  </td>
                                  <!-- // Quantité  -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                        <input type="number" class="input_focus_type input_focus_type_quantite" [value]="ligne.quantite" readonly>
                                    </div>
                                  </td>
                                  <!-- // Prix Unitaire  -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                        <input type="text" class="input_focus_type" [value]="getPrixVente(ligne.produitId) | customNumber" placeholder="Prix unitaire" style="cursor: no-drop;">
                                    </div>
                                  </td>
                                  <!-- // Total montant -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                      <input type="text" class="input_focus_type" disabled id="prixTotal" [value]="getMontantTotal(ligne) | customNumber" style="cursor: no-drop;">
                                    </div>                         
                                  </td>
                                  <td>
                                    <!-- // Button de delele  -->
                                    <div class="btn_delete_icon_add" (click)="supprimerLigneConfirmee(i)">
                                      <i class="ri-delete-bin-5-fill"></i>
                                    </div>
                                  </td>
                                </tr>
                            </tbody>
                            <!-- Ajouter produit quantite  -->
                            <tbody>
                              <tr class="tr_stock" style="border-top: 1px solid #f0f2f5;" *ngFor="let ligne of inputLignes; let i = index; trackBy: trackByFn">
                                  <!-- // Produit  -->
                                  <td>
                                      <div class="champ_input" style="margin-right: 15px;">
                                        <select 
                                          class="input_focus_type input_focus_type_select" 
                                          [(ngModel)]="ligne.produitId"
                                          (ngModelChange)="updateCalculs()"
                                          [ngModelOptions]="{ standalone: true }" required>
                                          <option [ngValue]="null">Sélectionner un produit</option>
                                          <option *ngFor="let produit of produits" [ngValue]="produit.id">
                                            {{ produit.nom }}
                                          </option>
                                        </select>
                                      </div>
                                  </td>
                                  <!-- // Description -->
                                  <td>
                                      <div class="champ_input" style="margin-right: 15px;">
                                        <input type="text" class="input_focus_type" style="resize: none;" placeholder="Description">
                                      </div>                         
                                  </td>
                                  <!-- // Quantité  -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                      <input type="number" class="input_focus_type input_focus_type_quantite" [(ngModel)]="ligne.quantite" (ngModelChange)="updateCalculs()" [ngModelOptions]="{ standalone: true }" placeholder="Quantité" />
                                        <!-- <label class="label">Quantité</label> -->
                                    </div>
                                  </td>
                                  <!-- // Prix Unitaire  -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                      <input 
                                        type="text" 
                                        class="input_focus_type" 
                                        [value]="getPrixVente(ligne.produitId) | customNumber" 
                                        placeholder="Prix unitaire"
                                        readonly
                                        style="cursor: no-drop;"
                                      >
                                    </div>
                                  </td>
                                  <!-- // Montant total -->
                                  <td>
                                    <div class="champ_input" style="margin-right: 15px;">
                                      <input 
                                        type="text" 
                                        class="input_focus_type" 
                                        disabled 
                                        [value]="getMontantTotal(ligne) | customNumber" 
                                        style="cursor: no-drop;"
                                      >
                                    </div>                         
                                  </td>
                                  <!-- // Button de ajouter  -->
                                  <td>
                                    <div *ngIf="i === inputLignes.length - 1" class="btn_ajouter_icon_add" (click)="ajouterLigneFacture(i)">
                                      <i class="ri-add-fill"></i>
                                    </div>
                                  </td>
                              </tr>
                            </tbody>
                            <!-- Montant total HT  -->
                            <tfoot>
                                <tr class="tr_stock">
                                    <!-- // Produit -->
                                    <td >
                                        <h5>MONTANT TOTAL HT </h5>
                                    </td>
                                    <!-- // Description -->
                                    <td></td>
                                    <!-- // Prix Unitaire  -->
                                    <td></td>
                                    <!-- // Quantité  -->
                                    <td></td>
                                    <!-- // Stock actuel -->
                                    <td>
                                      <div class="champ_input" style="margin-right: 15px;">
                                        <input 
                                          type="text" 
                                          class="input_focus_type" 
                                          disabled 
                                          [value]="getTotalHT() | customNumber" 
                                          style="cursor: no-drop; text-align: center;"
                                        >
                                      </div>                         
                                    </td>
                                    <td></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

            <!-- Remise -->
            <div class="information_cadre">
              <div class="info_titre_input">
                <h4>REMISE</h4>
        
                <div class="champ_input_inventaire">
                    <p>Application de REMISE</p>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="activeRemise" (change)="onToggleRemise()" [ngModelOptions]="{standalone: true}"/>
                        <span class="slider round"></span>
                    </label>
                </div>
        
                <div class="double_input_grid" *ngIf="activeRemise" style="margin-top: 15px;">
                    <div class="champ_input champ_input2">
                        <input type="number" step="0.01" class="input_focus" name="remisePourcentage" [(ngModel)]="remisePourcentage" (input)="onRemiseChange()" placeholder="Remise en %" />
                        <!-- <label class="label">REMISE ({{ remisePourcentage ?? '' }}%)</label> -->
                        <label class="label">
                          REMISE <span *ngIf="remisePourcentage !== null">({{ remisePourcentage }}%)</span>
                        </label>
                    </div>
        
                    <div class="champ_input champ_input2">
                      <input 
                        type="text" 
                        class="input_focus" 
                        readonly
                        [value]="getMontantRemise() | customNumber" />
                      <label class="label">Montant (CFA)</label>
                    </div>
                </div>
        
              </div>
            </div>

            <!-- // Toatal TTC  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                  <!-- // Remise et Total hors taxe  -->
                  <div class="double_input_ttc">
                      <h4> MONTANT COMMERCIAL </h4>
                      <div class="montantTTC">
                          <h4>
                              {{ getTotalCommercial() | customNumber  }}
                          </h4>
                      </div>
                  </div>
              </div>
          </div>

            <!-- TVA -->
            <div class="information_cadre">
                <div class="info_titre_input">
                <h4> TVA </h4>
        
                <div class="champ_input_inventaire">
                    <p>Application de TVA</p>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="activeTva" (change)="onToggleTVA()" [ngModelOptions]="{standalone: true}"/>
                        <span class="slider round"></span>
                    </label>
                </div>
        
                <div class="double_input_grid" *ngIf="activeTva" style="margin-top: 15px;">
                    <div class="champ_input">
                      <input type="number" class="input_focus" readonly [value]="18" />
                      <label class="label">TVA (%)</label>
                    </div>
                    
                    <div class="champ_input">
                      <input type="text" class="input_focus" readonly [value]="getMontantTVA() | customNumber" />
                      <label class="label">Montant (CFA)</label>
                    </div>
        
                </div>
        
                </div>
            </div>

            <!-- // Toatal TTC  -->
            <div class="information_cadre">
              <div class="info_titre_input">
                  <!-- // Remise et Total hors taxe  -->
                  <div class="double_input_ttc">
                      <h4>MONTANT TOTAL TTC </h4>
                      <div class="montantTTC">
                          <h4>
                            {{ getTotalTTC() | customNumber }}
                          </h4>
                      </div>
                  </div>
              </div>
            </div>

            <!-- Boutons -->
            <div class="information_cadre information_cadre_save">
              <div class="info_titre_input info_titre_input_btn" style="display: flex; justify-content: flex-end; gap: 10px;">
                <div class="btn_annuler">
                  <button class="btn_cancel" type="button" (click)="goToFacture()">Annuler</button>
                </div>
                <div class="btn_ajouter">
                  <button class="btn_save" (click)="creerFactureProforma()">Ajouter</button>
                </div>
              </div>
            </div>

        </form>
        
    </div>
  </div>
</div>

<!-- Popup de duplication -->
<div *ngIf="showDuplicatePopup" class="duplicate-popup">
  <div class="popup-content">
    <p>Ce produit est déjà dans la liste.</p>
    <button (click)="closePopup()">OK</button>
  </div>
</div>

  