
<div class="containerTable">
    <!-- En-tête : titre, actions et barre de recherche -->
    <div class="tasks-header">
      <h1 class="title">Comptes</h1>
  
      <div class="actions">
        <button class="add-task">Ajouter un</button>
        <div class="contentIcon">
          <div class="bare"></div>
        </div>
        <div class="inputSearch">
          <i class="ri-search-2-line"></i>
          <input type="text" placeholder="Recherche...." />
        </div>
      </div>
    </div>
  
    <!-- Tableau des produits -->
    <table>
      <thead>
        <tr class="titleTableProduit">
          <th>Nom complet</th>
          <th>Email</th>
          <th>Rôle type</th>
          <th>Pays</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- /////////// -->
        <tr>
          <td>Diakaridia SY</td>
          <td>informatiquexpertpro2&#64;gmail.com</td>
          <td>RH</td>
          <td>Mali</td>
          <td>+223 78711623</td>
        </tr>


        <!-- /////////// -->
        <tr>
          <td>Ibrahim Diaby</td>
          <td>informatiquexpertpro3&#64;gmail.com</td>
          <td>COMPTABLE</td>
          <td>Mali</td>
          <td>+223 00000000</td>
        </tr>

        <!-- /////////// -->
        <tr>
          <td>Mohamed Diallo</td>
          <td>informatiquexpertpro3&#64;gmail.com</td>
          <td>VENDEUR</td>
          <td>Mali</td>
          <td>+223 00000000</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  