
<div class="toast-container">
  <!-- Message d'erreur principal -->
  <div *ngIf="errorMessage" class="alert alert-danger toast-message-danger">
    {{ errorMessage }}
  </div>
  
  <!-- Message de succès -->
  <div *ngIf="successMessage" class="alert alert-success toast-message-success">
    {{ successMessage }}
  </div>
</div>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>Paiement en cours...</p>
    </div>
  </div>


<div class="payment-container">

  <!-- Colonne de gauche : résumé -->
  <div class="summary-card" *ngIf="planDetails && planDetails.name">
    <div class="brand-header">
      <div class="logo-placeholder"></div>
      <h2>{{ planDetails.name }}</h2>
    </div>
    
    <div class="divider"></div>
    
    <div class="price-display">
      <span class="amount">{{ planDetails.total | customNumber }}&nbsp;CFA</span>
      <span class="period">/ {{ planDetails.duration }}</span>
    </div>

    <div class="summary-list">
      <div class="list-item" *ngFor="let module of planDetails.pricePerModule">
        <span>{{ module.nom }}</span>
        <span>{{ module.prix | customNumber }} CFA</span>
      </div>
      
      <div class="list-item">
        <span>Sous-total</span>
        <span>{{ planDetails.subtotal | customNumber }} CFA</span>
      </div>
      
      <div class="list-item">
        <span>Taxes</span>
        <span>{{ planDetails.taxes | customNumber }} CFA</span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="total-container">
      <h3>Total dû </h3>
      <div class="total-amount">{{ planDetails.total | customNumber }}&nbsp;CFA</div>
    </div>
    
    <div class="security-badges">
      <div class="lock-icon">🔒</div>
      <span>Paiement sécurisé SSL</span>
    </div>
  </div>

  <!-- <div *ngIf="isLoading" class="loading-state">
    <div class="loader"></div>
    <p>Chargement des détails du paiement...</p>
  </div>

  <div *ngIf="!isLoading && !planDetails" class="error-state">
    <p>Impossible de charger les détails du plan. Veuillez réessayer.</p>
    <button (click)="loadPlanDetails()">Réessayer</button>
  </div> -->

  <!-- Colonne de droite : formulaire -->
  <form [formGroup]="paymentForm" class="form-card" 
      *ngIf="planDetails">
    <h2>Informations de paiement</h2>
    
    <h3>Moyen de paiement</h3>
    
    <!-- <div class="card-preview">
      <div class="card-chip"></div>
      <div class="card-number">{{ cardPreview?.number || '•••• •••• •••• ••••' }}</div>
      <div class="card-footer">
        <span>{{ cardPreview?.name || 'NOM TITULAIRE' }}</span>
        <span>{{ cardPreview?.expiry || 'MM/AA' }}</span>
      </div>
    </div> -->

    <!-- From Uiverse.io by Praashoo7 --> 
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="heading_8264">MASTERCARD</p>
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48">
                <path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z"></path><path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z"></path><path fill="#ff3d00" d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z"></path>
                </svg>
                <svg version="1.1" class="chip" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" xml:space="preserve">  <image id="image0" width="50" height="50" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAB6VBMVEUAAACNcTiVeUKVeUOY
                  fEaafEeUeUSYfEWZfEaykleyklaXe0SWekSZZjOYfEWYe0WXfUWXe0WcgEicfkiXe0SVekSXekSW
                  ekKYe0a9nF67m12ZfUWUeEaXfESVekOdgEmVeUWWekSniU+VeUKVeUOrjFKYfEWliE6WeESZe0GS
                  e0WYfES7ml2Xe0WXeESUeEOWfEWcf0eWfESXe0SXfEWYekSVeUKXfEWxklawkVaZfEWWekOUekOW
                  ekSYfESZe0eXekWYfEWZe0WZe0eVeUSWeETAnmDCoWLJpmbxy4P1zoXwyoLIpWbjvXjivnjgu3bf
                  u3beunWvkFWxkle/nmDivXiWekTnwXvkwHrCoWOuj1SXe0TEo2TDo2PlwHratnKZfEbQrWvPrWua
                  fUfbt3PJp2agg0v0zYX0zYSfgkvKp2frxX7mwHrlv3rsxn/yzIPgvHfduXWXe0XuyIDzzISsjVO1
                  lVm0lFitjVPzzIPqxX7duna0lVncuHTLqGjvyIHeuXXxyYGZfUayk1iyk1e2lln1zYTEomO2llrb
                  tnOafkjFpGSbfkfZtXLhvHfkv3nqxH3mwXujhU3KqWizlFilh06khk2fgkqsjlPHpWXJp2erjVOh
                  g0yWe0SliE+XekShhEvAn2D///+gx8TWAAAARnRSTlMACVCTtsRl7Pv7+vxkBab7pZv5+ZlL/UnU
                  /f3SJCVe+Fx39naA9/75XSMh0/3SSkia+pil/KRj7Pr662JPkrbP7OLQ0JFOijI1MwAAAAFiS0dE
                  orDd34wAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0IDx2lsiuJAAACLElEQVRIx2Ng
                  GAXkAUYmZhZWPICFmYkRVQcbOwenmzse4MbFzc6DpIGXj8PD04sA8PbhF+CFaxEU8iWkAQT8hEVg
                  OkTF/InR4eUVICYO1SIhCRMLDAoKDvFDVhUaEhwUFAjjSUlDdMiEhcOEItzdI6OiYxA6YqODIt3d
                  I2DcuDBZsBY5eVTr4xMSYcyk5BRUOXkFsBZFJTQnp6alQxgZmVloUkrKYC0qqmji2WE5EEZuWB6a
                  lKoKdi35YQUQRkFYPpFaCouKIYzi6EDitJSUlsGY5RWVRGjJLyxNy4ZxqtIqqvOxaVELQwZFZdkI
                  JVU1RSiSalAt6rUwUBdWG1CP6pT6gNqwOrgCdQyHNYR5YQFhDXj8MiK1IAeyN6aORiyBjByVTc0F
                  qBoKWpqwRCVSgilOaY2OaUPw29qjOzqLvTAchpos47u6EZyYnngUSRwpuTe6D+6qaFQdOPNLRzOM
                  1dzhRZyW+CZouHk3dWLXglFcFIflQhj9YWjJGlZcaKAVSvjyPrRQ0oQVKDAQHlYFYUwIm4gqExGm
                  BSkutaVQJeomwViTJqPK6OhCy2Q9sQBk8cY0DxjTJw0lAQWK6cOKfgNhpKK7ZMpUeF3jPa28BCET
                  amiEqJKM+X1gxvWXpoUjVIVPnwErw71nmpgiqiQGBjNzbgs3j1nus+fMndc+Cwm0T52/oNR9lsdC
                  S24ra7Tq1cbWjpXV3sHRCb1idXZ0sGdltXNxRateRwHRAACYHutzk/2I5QAAACV0RVh0ZGF0ZTpj
                  cmVhdGUAMjAyMy0wMi0xM1QwODoxNToyOSswMDowMEUnN7UAAAAldEVYdGRhdGU6bW9kaWZ5ADIw
                  MjMtMDItMTNUMDg6MTU6MjkrMDA6MDA0eo8JAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDIzLTAy
                  LTEzVDA4OjE1OjI5KzAwOjAwY2+u1gAAAABJRU5ErkJggg=="></image>
                </svg>
                <svg version="1.1" class="contactless" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 50 50" xml:space="preserve">  <image id="image0" width="50" height="50" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
                  cwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0IEzgIwaKTAAADDklEQVRYw+1XS0iUURQ+f5qPyjQf
                  lGRFEEFK76koKGxRbWyVVLSOgsCgwjZBJJYuKogSIoOonUK4q3U0WVBWFPZYiIE6kuArG3VGzK/F
                  fPeMM/MLt99/NuHdfPd888/57jn3nvsQWWj/VcMlvMMd5KRTogqx9iCdIjUUmcGR9ImUYowyP3xN
                  GQJoRLVaZ2DaZf8kyjEJALhI28ELioyiwC+Rc3QZwRYyO/DH51hQgWm6DMIh10KmD4u9O16K49it
                  VoPOAmcGAWWOepXIRScAoJZ2Frro8oN+EyTT6lWkkg6msZfMSR35QTJmjU0g15tIGSJ08ZZMJkJk
                  HpNZgSkyXosS13TkJpZ62mPIJvOSzC1bp8vRhhCakEk7G9/o4gmZdbpsTcKu0m63FbnBP9Qrc15z
                  bkbemfgNDtEOI8NO5L5O9VYyRYgmJayZ9nPaxZrSjW4+F6Uw9yQqIiIZwhp2huQTf6OIvCZyGM6g
                  DJBZbyXifJXr7FZjGXsdxADxI7HUJFB6iWvsIhFpkoiIiGTJfjJfiCuJg2ZEspq9EHGVpYgzKqwJ
                  qSAOEwuJQ/pxPvE3cYltJCLdxBLiSKKIE5HxJKcTRNeadxfhDiuYw44zVs1dxKwRk/uCxIiQkxKB
                  sSctRVAge9g1E15EHE6yRUaJecRxcWlukdRIbGFOSZCMWQA/iWauIP3slREHXPyliqBcrrD71Amz
                  Z+rD1Mt2Yr8TZc/UR4/YtFnbijnHi3UrN9vKQ9rPaJf867ZiaqDB+czeKYmd3pNa6fuI75MiC0uX
                  XSR5aEMf7s7a6r/PudVXkjFb/SsrCRfROk0Fx6+H1i9kkTGn/E1vEmt1m089fh+RKdQ5O+xNJPUi
                  cUIjO0Dm7HwvErEr0YxeibL1StSh37STafE4I7zcBdRq1DiOkdmlTJVnkQTBTS7X1FYyvfO4piaI
                  nKbDCDaT2anLudYXCRFsQBgAcIF2/Okwgvz5+Z4tsw118dzruvIvjhTB+HOuWy8UvovEH6beitBK
                  xDyxm9MmISKCWrzB7bSlaqGlsf0FC0gMjzTg6GgAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjMtMDIt
                  MTNUMDg6MTk6NTYrMDA6MDCjlq7LAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIzLTAyLTEzVDA4OjE5
                  OjU2KzAwOjAw0ssWdwAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyMy0wMi0xM1QwODoxOTo1Nisw
                  MDowMIXeN6gAAAAASUVORK5CYII="></image>
                </svg>
                <p class="number">9759 2484 5269 6576</p>
                <p class="valid_thru">VALID THRU</p>
                <p class="date_8264">1 2 / 2 4</p>
                <p class="name">BRUCE WAYNE</p>
            </div>
            <div class="flip-card-back">
                <div class="strip"></div>
                <div class="mstrip"></div>
                <div class="sstrip">
                  <p class="code">***</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
      <label>Module(s) inclus</label>
      <div class="modules-list">
        <div *ngFor="let module of planDetails.pricePerModule">
          {{ module.nom }}
        </div>
      </div>
    </div>

    <input type="hidden" formControlName="dureeMois">
    
    <div class="form-group">
      <label>Numéro de carte <span style="color: #ff0000;">*</span></label>
      <div class="input-with-icon">
        <!-- Activer le formatage ici -->
        <input formControlName="numeroCarte" placeholder="1234 5678 9012 3456" 
               (input)="formatCardNumber($event)">
        <span class="input-icon">💳</span>
      </div>
      <!-- Corriger la validation ici -->
      <div *ngIf="paymentForm.get('numeroCarte')?.invalid && paymentForm.get('numeroCarte')?.touched" 
           class="error-message">
        Numéro de carte invalide
      </div>
    </div>

    <div class="row">
      <div class="form-group exp-field">
        <label>Date d'expiration <span style="color: #ff0000;">*</span></label>
        <input formControlName="dateExpiration" placeholder="MM/AA" 
               (input)="formatExpDate($event)" maxlength="5">
        <div *ngIf="paymentForm.get('dateExpiration')?.invalid && paymentForm.get('dateExpiration')?.touched" 
             class="error-message">
          Format MM/AA requis
        </div>
      </div>
      
      <div class="form-group cvc-field">
        <label>CVC <span style="color: #ff0000;">*</span></label>
        <div class="input-with-icon">
          <input formControlName="cvc" placeholder="123" type="password" maxlength="4">
          <span class="input-icon" title="Code de sécurité au dos de la carte">❓</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nom du titulaire <span style="color: #ff0000;">*</span></label>
      <input formControlName="nomCompletProprietaire" placeholder="Nom complet">
    </div>
    
    <div class="form-group">
      <label>E-mail <span style="color: #ff0000;">*</span></label>
      <input type="email" formControlName="emailProprietaireCarte" placeholder="Votre email">
    </div>

    <h3>Adresse de facturation</h3>
    
    <div class="form-group">
      <label>Pays <span style="color: #ff0000;">*</span></label>
      <select formControlName="pays">
        <option *ngFor="let c of countries" [value]="c.code">{{ c.name }}</option>
      </select>
    </div>
    
    <div class="form-group address-field">
      <label>Adresse <span style="color: #ff0000;">*</span></label>
      <input formControlName="adresse" placeholder="Votre adresse...">
    </div>
    
    <div class="form-group">
      <label>Ville <span style="color: #ff0000;">*</span></label>
      <input formControlName="ville" placeholder="Votre ville...">
    </div>

    <!-- <div class="checkbox-group">
      <input type="checkbox" id="saveInfo" formControlName="saveInfo">
      <label for="saveInfo">Enregistrer mes informations pour les prochains paiements</label>
    </div> -->
    
    <div class="checkbox-group">
      <!-- Correction: utiliser acceptTerms qui existe dans le FormGroup -->
      <input type="checkbox" id="acceptTerms" formControlName="acceptTerms">
      <label for="acceptTerms">J'accepte les <a href="#" class="terms-link">conditions d'utilisation</a></label>
    </div>
    
    <button type="submit"  (click)="onSubmit()"
        [disabled]="paymentForm.invalid || isSubmitting" 
        class="submit-btn">
  
        <!-- Afficher le spinner pendant la soumission -->
        <span *ngIf="isSubmitting" class="btn-spinner"></span>
        
        <span class="btn-icon" *ngIf="!isSubmitting">🔒</span>
        
        <span>
          {{ isSubmitting ? 'Traitement en cours...' : 'Payer ' + (planDetails?.total | customNumber) + ' CFA' }}
            <!-- {{ (planDetails?.total | customNumber) + ' CFA' }} -->
        </span>
      </button>
    
    <div class="payment-methods">
      <div class="payment-icon">Visa</div>
      <div class="payment-icon">Mastercard</div>
    </div>
  </form>
</div>