<div class="container_global">
    <div class="information_cadre">
        <div class="info_titre_input">
            <div class="content">
                <!-- // header apercu  -->
                <div class="header_apercu">
                    <!-- // logo entreprise -->
                    <div class="logo_entreprise">
                        <img src="/assets/img/logo.jpeg" >
                    </div>
                    <!-- entete entreprise  -->
                    <div class="entete_entreprise">
                        <div class="content_entete">
                            <p class="para1">Groupe XpertPro - Le groupe des xperts et professionnels</p>
                            <p class="para2">Formation - Communication - Informatique</p>
                            <div class="para3">Email : <a href="mailto">Groupexpertpro&#64;gmail.com</a> Téléphone : 93 33 56 21 / 79 87 33 75</div>
                        </div>
                    </div>
                </div>
                <!-- // Ligne  -->
                <hr>
                <hr>
                <!-- // titre  -->
                <div class="titre">
                    <h2>Facture proforma n˚021-04-2024</h2>
                </div>
                <!-- // date  -->
                <div class="date">
                    <p>Bamako, le 12 Mai 2025</p>
                </div>

                <!-- nom et object  -->
                <div class="droit">
                    <h4>DROIT :</h4> 
                    <p>Mme Binta KERGNA</p>
                </div>

                <div class="object">
                    <h4>OBJECT :</h4>
                    <p>Conception de supports de communication.</p>
                </div>

                <!-- // Table  -->
                <table>
                    <thead>
                        <tr>
                            <th>Désignation</th>
                            <th style="width: 260px;">Description</th>
                            <th>Prix Unitaire (FCFA)</th>
                            <th>Quantité</th>
                            <th>Durée</th>
                            <th>Montant (FCFA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_left">Conception Logo</td>
                            <td class="td_left">Le logo est le reflet de l'image d'une entreprise</td>
                            <td>15 000</td>
                            <td>01</td>
                            <td>3 Jours</td>
                            <td>15 000</td>
                        </tr>
                        <tr>
                            <td class="td_left">Conception Affiche</td>
                            <td class="td_left">Nous concevons une affiche qui contiendra tous vos différents produits disponibles ainsi que les informations pour y accéder.</td>
                            <td>15 000</td>
                            <td>01</td>
                            <td>3 Jours</td>
                            <td>15 000</td>
                        </tr>

                        <tr>
                            <td class="table_td_1"></td>
                            <td class="table_td table_td_descripton">MONTANT TOTAL HT</td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td>30 000</td>
                        </tr>
                        <tr>
                            <td class="table_td_1"></td>
                            <td class="table_td table_td_descripton">REMISE (10%)</td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td>3 000</td>
                        </tr>
                        <tr>
                            <td class="table_td_1"></td>
                            <td class="table_td table_td_descripton">MONTANT COMMERCIAL</td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td>27 000</td>
                        </tr>
                        <tr>
                            <td class="table_td_1"></td>
                            <td class="table_td table_td_descripton">TVA(18%)</td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td>4 860</td>
                        </tr>
                        <tr>
                            <td class="table_td_1"></td>
                            <td class="table_td table_td_descripton">MONTANT TOTAL TTC</td>
                            <td class="table_td"></td>
                            <td class="table_td"></td>
                            <td class="table_td td_center"></td>
                            <td>31 860</td>
                        </tr>
                    </tbody>
                </table>

                <!-- // contenu_bottom  -->
                <div class="contenu_bottom">
                    <p><span style="font-weight: 600;">Arrêté la présente facture à la somme de : </span>Trente-un-mille Francs CFA.</p>
                </div>

                <!-- // sachet  -->
                <div class="cachet_container">
                    <div></div>
                    <div class="cachet">
                        <h6>Le Directeur Général</h6>
                        <h6 class="name_directeur">Moussa H. OUOLOGUEM</h6>
                    </div>
                </div>
                <!-- // Ligne  -->
                <hr style="margin-top: 40px;">
                
                <!-- // Footer  -->
                <div class="footer">
                    <p><strong>www.groupexpertpro.com</strong></p>
                    <div>
                        <em>
                            NINA : 41709196001399D ; RCCM : MA.BKO.2017.B.5998 ;NIF :086143196K ; Banque : 38063502001 88 BMS
                        </em>
                    </div>
                   <div style="margin-top: -4px;">
                    <em >
                        Adresse : Faladjé Sema, Rue du Gouverneur, Près de l'Hotel Fiesta /Bamako-Mali
                    </em>
                   </div>
                </div>

            </div>
        </div>
      </div>
</div>
